<!-- This HTML file has been created by texi2html 1.30
     from bull12.texi on 26 January 1995 -->

<TITLE>GNU's Bulletin, vol. 1 no. 12 - Table of Contents</TITLE>
<H1>GNU's Bulletin, vol. 1 no. 12</H1>
<HR>
<P>
<UL>
<LI><A NAME="SEC1" HREF="gnu_bulletin_9401_1.html#SEC1">GNU's Who</A>
<LI><A NAME="SEC2" HREF="gnu_bulletin_9401_2.html#SEC2">GNU's Bulletin</A>
<LI><A NAME="SEC3" HREF="gnu_bulletin_9401_3.html#SEC3">What Is the Free Software Foundation?</A>
<LI><A NAME="SEC4" HREF="gnu_bulletin_9401_4.html#SEC4">What Is Copyleft?</A>
<LI><A NAME="SEC5" HREF="gnu_bulletin_9401_5.html#SEC5">Donations Translate Into Free Software</A>
<LI><A NAME="SEC6" HREF="gnu_bulletin_9401_6.html#SEC6">Cygnus Matches Donations!</A>
<LI><A NAME="SEC7" HREF="gnu_bulletin_9401_7.html#SEC7">GNUs Flashes</A>
<LI><A NAME="SEC8" HREF="gnu_bulletin_9401_8.html#SEC8">What Is the LPF?</A>
<LI><A NAME="SEC9" HREF="gnu_bulletin_9401_9.html#SEC9">News from the LPF</A>
<LI><A NAME="SEC10" HREF="gnu_bulletin_9401_10.html#SEC10">Free Software Support</A>
<LI><A NAME="SEC11" HREF="gnu_bulletin_9401_11.html#SEC11">Project GNU Wish List</A>
<LI><A NAME="SEC12" HREF="gnu_bulletin_9401_12.html#SEC12">Towards a New Strategy of OS Design</A>
<UL>
<LI><A NAME="SEC13" HREF="gnu_bulletin_9401_12.html#SEC13">Part 1: A More Usable Approach to OS Design</A>
<UL>
<LI><A NAME="SEC14" HREF="gnu_bulletin_9401_12.html#SEC14">The Translator Mechanism</A>
<LI><A NAME="SEC15" HREF="gnu_bulletin_9401_12.html#SEC15">Generic Services</A>
<LI><A NAME="SEC16" HREF="gnu_bulletin_9401_12.html#SEC16">Clever Filesystem Pictures</A>
<LI><A NAME="SEC17" HREF="gnu_bulletin_9401_12.html#SEC17">What The User Can Do</A>
<LI><A NAME="SEC18" HREF="gnu_bulletin_9401_12.html#SEC18">Why This Is So Different</A>
</UL>
<LI><A NAME="SEC19" HREF="gnu_bulletin_9401_12.html#SEC19">Part 2: A Look at Some of the Hurd's Beasts</A>
<UL>
<LI><A NAME="SEC20" HREF="gnu_bulletin_9401_12.html#SEC20">The Authentication Server</A>
<LI><A NAME="SEC21" HREF="gnu_bulletin_9401_12.html#SEC21">The Process Server</A>
<LI><A NAME="SEC22" HREF="gnu_bulletin_9401_12.html#SEC22">Transparent FTP</A>
<LI><A NAME="SEC23" HREF="gnu_bulletin_9401_12.html#SEC23">Filesystems</A>
<LI><A NAME="SEC24" HREF="gnu_bulletin_9401_12.html#SEC24">Terminals</A>
<LI><A NAME="SEC25" HREF="gnu_bulletin_9401_12.html#SEC25">Executing Programs</A>
<LI><A NAME="SEC26" HREF="gnu_bulletin_9401_12.html#SEC26">New Processes</A>
<LI><A NAME="SEC27" HREF="gnu_bulletin_9401_12.html#SEC27">Asynchronous Messages</A>
<LI><A NAME="SEC28" HREF="gnu_bulletin_9401_12.html#SEC28">Making It Look Like Unix</A>
<LI><A NAME="SEC29" HREF="gnu_bulletin_9401_12.html#SEC29">Network Protocols</A>
</UL>
</UL>
<LI><A NAME="SEC30" HREF="gnu_bulletin_9401_13.html#SEC30">Second Annual GNU Seminar in Japan</A>
<LI><A NAME="SEC31" HREF="gnu_bulletin_9401_14.html#SEC31">GNU and other Free Software in Japan</A>
<LI><A NAME="SEC32" HREF="gnu_bulletin_9401_15.html#SEC32">Freely Available Texts</A>
<LI><A NAME="SEC33" HREF="gnu_bulletin_9401_16.html#SEC33">OCEAN Integrated-Circuit Design System</A>
<LI><A NAME="SEC34" HREF="gnu_bulletin_9401_17.html#SEC34">Hundred Acre Consulting Expands</A>
<LI><A NAME="SEC35" HREF="gnu_bulletin_9401_18.html#SEC35">Project GNU Status Report</A>
<LI><A NAME="SEC36" HREF="gnu_bulletin_9401_19.html#SEC36">GNU Documentation</A>
<LI><A NAME="SEC37" HREF="gnu_bulletin_9401_20.html#SEC37">GNU Software Available Now</A>
<UL>
<LI><A NAME="SEC38" HREF="gnu_bulletin_9401_20.html#SEC38">Contents of the Emacs Tape</A>
<LI><A NAME="SEC39" HREF="gnu_bulletin_9401_20.html#SEC39">Contents of the Languages Tape</A>
<LI><A NAME="SEC40" HREF="gnu_bulletin_9401_20.html#SEC40">Contents of the Utilities Tape</A>
<LI><A NAME="SEC41" HREF="gnu_bulletin_9401_20.html#SEC41">Contents of the Scheme Tape</A>
<LI><A NAME="SEC42" HREF="gnu_bulletin_9401_20.html#SEC42">Contents of the X11 Tapes</A>
<LI><A NAME="SEC43" HREF="gnu_bulletin_9401_20.html#SEC43">Berkeley Networking 2 Tape</A>
<LI><A NAME="SEC44" HREF="gnu_bulletin_9401_20.html#SEC44">VMS Emacs and VMS Compiler Tapes</A>
</UL>
<LI><A NAME="SEC45" HREF="gnu_bulletin_9401_21.html#SEC45">Source Code CD-ROM</A>
<LI><A NAME="SEC46" HREF="gnu_bulletin_9401_22.html#SEC46">Compiler Tools Binaries CD-ROM</A>
<LI><A NAME="SEC47" HREF="gnu_bulletin_9401_23.html#SEC47">Tape &#38; CD-ROM Subscription Service</A>
<LI><A NAME="SEC48" HREF="gnu_bulletin_9401_24.html#SEC48">How to Get GNU Software</A>
<LI><A NAME="SEC49" HREF="gnu_bulletin_9401_25.html#SEC49">The Deluxe Distribution</A>
<LI><A NAME="SEC50" HREF="gnu_bulletin_9401_26.html#SEC50">MS-DOS Distribution</A>
<UL>
<LI><A NAME="SEC51" HREF="gnu_bulletin_9401_26.html#SEC51">Contents of the Demacs diskettes</A>
<LI><A NAME="SEC52" HREF="gnu_bulletin_9401_26.html#SEC52">Contents of the DJGPP diskettes</A>
<LI><A NAME="SEC53" HREF="gnu_bulletin_9401_26.html#SEC53">Contents of the Selected Utilities diskettes</A>
<LI><A NAME="SEC54" HREF="gnu_bulletin_9401_26.html#SEC54">Contents of the Windows diskette</A>
</UL>
<LI><A NAME="SEC55" HREF="gnu_bulletin_9401_27.html#SEC55">Free Software for Microcomputers</A>
<LI><A NAME="SEC56" HREF="gnu_bulletin_9401_28.html#SEC56">FSF T-shirt</A>
<LI><A NAME="SEC57" HREF="gnu_bulletin_9401_29.html#SEC57">Thank GNUs</A>
<LI><A NAME="SEC58" HREF="gnu_bulletin_9401_30.html#SEC58">Free Software Foundation Order Form</A>
</UL>
<HR>
<P>
Copyright (C) 1994 Free Software Foundation, Inc.
<P>
Permission is granted to anyone to make or distribute verbatim copies of
this
document, in any medium, provided that the copyright notice and permission
notice are preserved and that the distributor grants the recipient
permission
for further redistribution as permitted by this notice.
<P>
