<TITLE> - Free Software for Microcomputers</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_26.html">previous</A>, <A HREF="gnu_bulletin_9401_28.html">next</A> chapter.<P>
<H1><A NAME="SEC55" HREF="gnu_bulletin_9401_toc.html#SEC55">Free Software for Microcomputers</A></H1>
<P>
We do not provide support for GNU software on microcomputers because it is
peripheral to the GNU Project.  However, we are distributing a few such
programs on tape, CD-ROM and diskette.  We are also willing to publish
information about groups who do support and maintain them.  If you are
aware of any such efforts, please send the details, including postal
addresses, archive sites and mailing lists, to either address on the front
cover.
<P>
See "MS-DOS Distribution" and
both CD-ROM articles for more information
about microcomputer software available from the FSF.  Please do not ask us
about any other software.  The FSF does <EM>not</EM> maintain any of it and
has <EM>no</EM> additional information.
<P>
<UL>
<P>
<LI>
<B>GNU Software</B> <EM>not</EM> <B>on Apple computers</B>
<P>
In lawsuits, Apple claims the power to stop people from writing any program
that has a user interface that works even vaguely like the Macintosh's.  If
Apple wins in the courts, it will create for itself a new power over the
public that will enable it to put an end to free software.  So long as
Apple is committed to establishing this kind of monopoly, we will not
provide any support or software for Apple machines.  We ask that you too
refrain from developing for or porting to Apple systems, since any more
software adds to their business.  Don't feed the lawyer that bites you!
<P>
<LI>
<B>Boston Computer Society</B>
<P>
The BCS has numerous free programs for microcomputers,
including some GNU programs.  Contact them to see what is available for
your machine: Boston Computer Society, 1 Kendall Square - Bldg 1400,
Cambridge, MA  02139   USA.   Phone: (617) 252-0600.
<P>
<LI>
<B>GNU Software on the Amiga</B>
<P>
Get Amiga ports of many GNU programs using anonymous FTP from host
<CODE>ftp.funet.fi</CODE> in <TT>`/pub/amiga/gnu'</TT> (Europe).
<P>
For info on (or offers to help with) the GCC port and related projects, ask
Leonard Norrgard, <CODE>vinsci@nic.funet.fi</CODE>.  For info on the GNU
Emacs port, ask David Gay, <CODE>dgay@di.epfl.ch</CODE>, or
Mark D. Henning, <CODE>henning@stolaf.edu</CODE>.  You can get more info
via anonymous FTP in <CODE>prep.ai.mit.edu:/pub/gnu/MicrosPorts/Amiga</CODE>.
<P>
<LI>
<B>GNU Software for Atari TOS and Atari Minix</B>
<P>
Get Atari ports by anonymous FTP from <CODE>atari.archive.umich.edu</CODE>
(maintained by Howard Chu, <CODE>hyc@hanauma.jpl.nasa.gov</CODE>).  Ports
are discussed on USENET in
<CODE>comp.sys.atari.st.tech</CODE> &#38; <CODE>comp.sys.atari.st</CODE>.
<P>
<LI>
<B>GNU C/C<TT>++</B> 2.3.3 for OS/2 2.0</TT>
<P>
Michael Johnson has written a completely stand-alone port of the GNU
C/C<TT>++</TT> Version 2.3.3 compiler for OS/2 2.0.  It has the C/C<TT>++</TT>
compilers, the GNU assembler, documentation &#38; both OS/2-specific and
the BSD C libraries.  You can get it from host <CODE>hobbes.nmsu.edu</CODE>
in file <TT>`/os2/2_x/unix/gnu/gcc2_233'</TT> by FTP.  To join the
mailing list, send a message to <CODE>os2gcc-request@charon.mit.edu</CODE>.
<P>
<LI>
<B>Linux: a free Unix system for 386 machines</B>
<P>
Linux (named after its author, Linus Torvalds, and Minix) is a free Unix
clone which implements a subset of System V and POSIX functionality.  Linux
has been written from scratch and does not contain any proprietary code.
Many of the utilities and libraries are GNU Project software.  Linux runs
only on 386/486 AT-bus (and some EISA-bus) machines.  Porting to non-Intel
architectures is hard because the kernel makes extensive use of 386 memory
management and task primitives.  Linux is freely distributable and
available via anonymous FTP:
<CODE>tsx-11.mit.edu</CODE> in <TT>`/pub/linux'</TT> (USA),
<CODE>nic.funet.fi</CODE> in <TT>`/pub/OS/Linux'</TT> (Europe).  Ask
<CODE>linux-activists-request@niksula.hut.fi</CODE> about their mailing
lists.  See USENET newsgroup <CODE>comp.os.linux.misc</CODE> et al for Linux
discussions.
<P>
<LI><B>DJGPP 1.11m1, the GNU C/C<TT>++</B> compiler for MS-DOS</TT>
<P>
DJ Delorie has ported GCC/G<TT>++</TT> to the 386/483 MS-DOS platform.  See
"GNU Software Available Now" for details.  The FSF is distributing DJGPP
on both floppies and CD (see "MS-DOS Distribution" and "Compiler Tools
Binaries CD-ROM").
<P>
<LI>
<B>Demacs, GNU Emacs for MS-DOS</B>
<P>
Manabu Higashida and Hirano Satoshi have released Demacs, a GNU
Emacs port for 386/486 MS-DOS.  Version 1.2.0 is the first post-beta
release.  Demacs provides several DOS-specific features: support for binary
or text file translation, "8 bit clean" display mode, 80x86 software
interrupt calls via an <CODE>int86</CODE> Lisp function, machine-specific
features such as function key support, file name completion with drive
name, child processes (<CODE>suspend-emacs</CODE> and <CODE>call-process</CODE>).
Dired mode works without <TT>`ls.exe'</TT>.  Anonymous FTP it from:
<CODE>wuarchive.wustl.edu</CODE> in <TT>`/mirrors/msdos/demacs'</TT>,
<CODE>utsun.s.u-tokyo.ac.jp</CODE> in <TT>`/GNU/demacs'</TT> (Japan),
and <CODE>ftp.funet.fi</CODE> in <TT>`/pub/gnu/emacs/demacs'</TT> (Europe).
<P>
The FSF is distributing Demacs on floppies (see "MS-DOS Distribution").
<P>
<LI>
<B>GNU Software on MS-DOS</B>
<P>
You can ask <CODE>info-gnu-msdos-request@sun.soe.clarkson.edu</CODE> about
MS-DOS ports of GNU programs and related mailing lists.  Or anonymous FTP
files <TT>`/pub/gnu/MicrosPorts/MSDOS*'</TT> on <CODE>prep.ai.mit.edu</CODE>.
<P>
The FSF is distributing MS-DOS ports of many GNU programs on
both
floppies
&#38; CD
(see "MS-DOS Distribution" &#38; "Source Code CD-ROM").
<P>
</UL>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_26.html">previous</A>, <A HREF="gnu_bulletin_9401_28.html">next</A> chapter.<P>
