<TITLE> - GNU's Bulletin</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_1.html">previous</A>, <A HREF="gnu_bulletin_9401_3.html">next</A> chapter.<P>
<H1><A NAME="SEC2" HREF="gnu_bulletin_9401_toc.html#SEC2">GNU's Bulletin</A></H1>
<P>
Written and Edited by: Jan Brittenson, Noah S. Friedman,
  and Leonard H. Tower Jr.
<P>
Illustrations by: Etienne Suvasa and Jamal Hannah
<P>
Japanese Edition by: Mieko Hikichi and Nobuyuki Hikichi
<P>
The GNU's Bulletin is published at the end of January and June of each
year.  Please note that there is no postal mailing list.  To get a copy,
send your name and address with your request to the address on the front
page.  Enclosing a business sized self-addressed stamped envelope ($0.52)
and/or a donation of a few dollars is appreciated but not required.  If
you're from outside the USA, sending a mailing label rather than an
envelope and enough International Reply Coupons for a package of about 100
grams is appreciated but not required.  (Including a few extra
International Reply Coupons for copying costs is also appreciated.)
<P>
Copyright (C) 1994 Free Software Foundation, Inc.
<P>
Permission is granted to anyone to make or distribute verbatim copies of
this document, in any medium, provided that the copyright notice and
permission notice are preserved and that the distributor grants the
recipient permission for further redistribution as permitted by this
notice.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_1.html">previous</A>, <A HREF="gnu_bulletin_9401_3.html">next</A> chapter.<P>
