<TITLE> - Project GNU Wish List</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_10.html">previous</A>, <A HREF="gnu_bulletin_9401_12.html">next</A> chapter.<P>
<H1><A NAME="SEC11" HREF="gnu_bulletin_9401_toc.html#SEC11">Project GNU Wish List</A></H1>
<P>
Wishes for this issue are for:
<P>
<UL>
<LI>
Volunteers to distribute this Bulletin at technical conferences, trade
shows, local and national user group meetings, etc.  Please phone the
number on the front cover or e-mail <CODE>gnu@prep.ai.mit.edu</CODE> to make
arrangements.
<P>
<LI>
Oleo extensions and other free software for business, such as bookkeeping.
<P>
<LI>
600<TT>+</TT> megabyte SCSI disks to give us more space to develop software.
<P>
<LI>
A 386 or 486 PC compatible with 200<TT>+</TT> MB of disk and an Ethernet
card.
<P>
<LI>
A 4mm DAT tape drive, an 8mm Exabyte tape drive, a Sun SPARCstation and a
Sun-3/60 or 4/110.
<P>
<LI>
Companies to lend us capable programmers and technical writers for at
least six months.  True wizards may be welcome for shorter periods, but
we have found that six months is the minimum time for a good programmer
to finish a worthwhile project.
<P>
<LI>
Volunteers to help write programs and documentation.  Send mail to
<CODE>gnu@prep.ai.mit.edu</CODE> for the task list and coding standards.
<P>
<LI>
Volunteers to build binaries for systems not yet on the Compile Tools
Binaries CD-ROM (especially for systems that don't come with a C compiler).
Please contact us at either address on the front cover.
<P>
<LI>
Professors who might be interested in sponsoring or hosting research
assistants to do GNU development, with FSF support.
<P>
<LI>
Speech and character recognition software and systems (if the devices
aren't too weird), with the device drivers if possible.  This would help
the productivity of partially disabled people (including a few we know).
<P>
<LI>
New quotes and ideas for articles in the GNU's Bulletin.  We particularly
like to highlight organizations involved with free information exchanges,
software that uses the GNU General Public License, and companies providing
free software support as a primary business.
<P>
<LI>
Copies of newspaper and journal articles mentioning the GNU Project or
GNU software.  Send these to the address on the front cover, or send a
citation to <CODE>gnu@prep.ai.mit.edu</CODE>.
<P>
<LI>
Money.
If you use and appreciate our software, please send a
donation.
One way to give us a small amount of money is to order a distribution tape
diskette, or CD-ROM.  A way to give us a larger amount of money is
to order a Deluxe Distribution.  These may not count as a donation for tax
purposes, but they can qualify as a business expense.  This is especially
helpful if you work for a business where the word "donation" is anathema.
<P>
</UL>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_10.html">previous</A>, <A HREF="gnu_bulletin_9401_12.html">next</A> chapter.<P>
