<TITLE> - News from the LPF</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_8.html">previous</A>, <A HREF="gnu_bulletin_9401_10.html">next</A> chapter.<P>
<H1><A NAME="SEC9" HREF="gnu_bulletin_9401_toc.html#SEC9">News from the LPF</A></H1>
<P>
  by Christian D.. Hofstader, <CODE>cdh@prep.ai.mit.edu</CODE>
<P>
The US Patent and Trademark Office (PTO) will hold hearings early in 1994
on the topic of software patents.  The PTO is recognizing that something is
very wrong with the current policy and is looking for input on how to
correct matters.  The LPF is trying to get a representative invited to
testify, and will call for members and others concerned with these issues
to write letters to the PTO.  Contact <CODE>lpf@uunet.uu.net</CODE> for details.
<P>
For the last few months, the LPF has been working on an amicus (friend of
the court) brief which was presented to the appeal court in the appeal of
Lotus v. Borland.  The brief was directed solely at the Lotus claim to
copyright over the macro language in <CODE>123</CODE> which was allowed by Judge
Keeton in the lower court.  The brief was filed on behalf of over 20
prominent computer scientists in the First Circuit Court on December 14,
1993.
<P>
The group that the LPF organized to sign the brief included such major
contributors to computer science as Marvin Minsky, John McCarthy, and
Robert Boyer.  Bob Kohn, Borland VP and General Counsel, stated, "With
this group the LPF should be able to change the course of intellectual
property law.  Never has such an impressive group of computer scientists
been assembled."
<P>
The LPF will be making a supplemental filing in this case.  If you are
interested in signing or know someone who you feel would like to join the
list, please forward the appropriate information to the LPF.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_8.html">previous</A>, <A HREF="gnu_bulletin_9401_10.html">next</A> chapter.<P>
