<TITLE> - Tape &#38; CD-ROM Subscription Service</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_22.html">previous</A>, <A HREF="gnu_bulletin_9401_24.html">next</A> chapter.<P>
<H1><A NAME="SEC47" HREF="gnu_bulletin_9401_toc.html#SEC47">Tape &#38; CD-ROM Subscription Service</A></H1>
<P>
If you do not have net access, our subscription service enables you to stay
current with the latest FSF developments.  For a one-time cost equivalent
to three tapes or CD-ROMs, we will mail you four new versions of the tape
of your choice or the Source Code CD-ROM.  The tapes are sent each quarter,
the Source Code CD-ROMs are sent as they are issued.  (The Source Code
CD-ROM is currently issued twice a year, but we may issue it more
frequently in the future.)
<P>
Regularly, we will send you a new version of an
Emacs, Languages, Utilities, or MIT X Window System Required tape or the
Source CD-ROM.  The BSD Net-2, MIT Scheme, and MIT X Window System Optional
tapes are not changed often enough to warrant quarterly updates.  The
Compiler Tools Binaries CD-ROM is so new we do not yet know if we will be
offering subscriptions to it.
<P>
Since Emacs 19 is now on the Emacs Tape and the Source CD-ROM, a
subscription to either will be a convenient way to keep current with Emacs
19 updates as it moves through beta-test.
<P>
A subscription is also an easy way to keep up with the regular bug fixes to
the MIT X Window System.  We update the X11 Required tape, as fixes and
patches for the X Window System are issued throughout the year.  Each new
edition of the Source CD-ROM also has updated sources for the X Window
System.
See sections "Tape Subscriptions" and "CD-ROM Subscriptions" on the
"Free Software Foundation Order Form".
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_22.html">previous</A>, <A HREF="gnu_bulletin_9401_24.html">next</A> chapter.<P>
