<TITLE> - Donations Translate Into Free Software</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_4.html">previous</A>, <A HREF="gnu_bulletin_9401_6.html">next</A> chapter.<P>
<H1><A NAME="SEC5" HREF="gnu_bulletin_9401_toc.html#SEC5">Donations Translate Into Free Software</A></H1>
<P>
If you appreciate Emacs, GNU CC, Ghostscript, and other free software,
you may wish to help us make sure there is more in the
future--remember, <EM>donations translate into more free software!</EM>
<P>
Your donation to us is tax-deductible in the United States.  We gladly
accept <EM>all</EM> currencies, although the U.S. dollar is the most
convenient.
<P>
If your employer has a matching gifts program for charitable donations,
please arrange to have your donation matched by your employer (or in some
cases by Cygnus Support, see "Cygnus Matched Donations!").  If you do
not know, please ask your personnel department.  Also try and get the FSF
listed on the any list of organziations for the matching gifts program.
<P>
<PRE>
   $500     $250     $100     $50     other $________

   Other currency:________
</PRE>
<P>
Circle the amount you are donating,
tear off this page,
and send it with your donation to:
<P>
  Free Software Foundation, 675 Mass. Ave., Cambridge, MA   02139   USA
<P>
You can also charge a donation to either Visa, Mastercard, JCB, Diner's
Club, or Carte Blanche.  Charges may also be emailed to
<CODE>gnu@prep.ai.mit.edu</CODE> or faxed to <TT>+</TT>1-617-492-9057; in Japan fax
to: 0031-13-2473 (KDD) or 0066-3382-0158 (IDC)
<P>
<PRE>
Card type: __________________  Expiration Date: _____________

Account Number: _____________________________________________

Your Signature: _____________________________________________
</PRE>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_4.html">previous</A>, <A HREF="gnu_bulletin_9401_6.html">next</A> chapter.<P>
