<TITLE> - Hundred Acre Consulting Expands</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_16.html">previous</A>, <A HREF="gnu_bulletin_9401_18.html">next</A> chapter.<P>
<H1><A NAME="SEC34" HREF="gnu_bulletin_9401_toc.html#SEC34">Hundred Acre Consulting Expands</A></H1>
<P>
   Hundred Acre Consulting continues to provide support and
development services, with its specialty being the GNU C and C<TT>++</TT>
compilers.  It continues its policy of donating a percentage of its
profit to the FSF.  Their address is:
<P>
<PRE>
Hundred Acre Consulting             <CODE>info@pooh.com</CODE>     Phone: (702) 829--9700
5301 Longley Lane, Suite D-144       or <TT>+1--800--245--2885</TT>
Reno, NV   89511,   USA      Fax: (702) 829--9926
</PRE>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_16.html">previous</A>, <A HREF="gnu_bulletin_9401_18.html">next</A> chapter.<P>
