<TITLE> - OCEAN Integrated-Circuit Design System</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_15.html">previous</A>, <A HREF="gnu_bulletin_9401_17.html">next</A> chapter.<P>
<H1><A NAME="SEC33" HREF="gnu_bulletin_9401_toc.html#SEC33">OCEAN Integrated-Circuit Design System</A></H1>
<P>
Delft University of Technology, the Netherlands, has developed OCEAN, a
comprehensive chip design package.  It includes a full set of powerful
tools for synthesis and verification of semi-custom sea-of-gates and
gate-array chips.  OCEAN covers the back-end of the design
trajectory--from circuit level, down to layout and a working chip.
<P>
OCEAN provides interactive tools for placement, routing, simulation and
extraction, either automatically or manually guided.  It is available as
free software, with full source code, and is known to run on Linux, HP
and Sun workstations under the X Window System.  For import and export
of data, it knows about EDIF, BLIF, SLS, GDSII, CIF, SPICE and LDM.
<P>
You can obtain OCEAN by anonymous FTP from
<CODE>donau.et.tudelft.nl</CODE>.  For more information, contact
<CODE>patrick@donau.et.tudelft.nl</CODE> on the Internet.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_15.html">previous</A>, <A HREF="gnu_bulletin_9401_17.html">next</A> chapter.<P>
