<TITLE> - GNUs Flashes</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_6.html">previous</A>, <A HREF="gnu_bulletin_9401_8.html">next</A> chapter.<P>
<H1><A NAME="SEC7" HREF="gnu_bulletin_9401_toc.html#SEC7">GNUs Flashes</A></H1>
<P>
<UL>
<P>
<LI><B>Compiler Tools Binaries CD-ROM</B>
<P>
We are now offering a CD-ROM that contains executables for the GNU compiler
tools for some systems for which vendors ship their operating system
without a compiler.  This will allow users of those systems to compile GNU
and other free software without having to buy a proprietary compiler.  See
"Compiler Tools Binaries CD-ROM" for more details.
<P>
We hope to have more systems included with each update of this CD-ROM.  If
you can help build binaries for new systems, or have a system to suggest,
please contact us at either address on the front cover.
<P>
<LI><B>FSF Distributing on DAT Cassettes</B>
<P>
We are now offering our software on 4mm DAT cassette tapes.  For more
information, see "Free Software Foundation Order Form".
<P>
<LI><B>Source CD-ROM subscriptions</B>
<P>
We are now offering a subscription service for the Source CD-ROM, in
addition to our tape subscription service.  For the price of 3 CD-ROMs you
get the next 4 that we make.  Presently we make two updates a year, but we
may go to more frequent updates.  See the article "Tape &#38; CD-ROM
Subscription Service".
<P>
<LI><B>FSF accepts credit cards</B>
<P>
FSF takes these credit cards: Visa, Mastercard, Diner's Club, JCB, and
Carte Blanche.  Note that we are charged about 5% of an order's total
amount in credit card processing fees.  Please consider paying by check
instead, or adding on a 5% donation to make up the difference.
<P>
<LI><B>FSF accepts orders and donations via FAX</B>
<P>
You can now send orders and donations to FSF by fax.  Please fax in a
completed order form, including credit card information, since orders must
be prepaid.  We do <EM>not</EM> accept purchase orders.  The number is
<TT>+1-617-492-9057</TT> in the US and everywhere else except Japan.  In
Japan the FAX numbers are toll-free: 0031-13-2473 (KDD) and
0066-3382-0158 (IDC).
<P>
<LI><B>FSF T-shirts improved!</B>
<P>
We have just added a copy of the GNU General Public License to the back of
our t-shirt, which use to be blank.  See the article "FSF T-shirt"
<P>
<LI><B>Informal "GCC Consortium"</B>
<P>
A group of companies including Intel, Motorola, Texas Instruments, and
Analog Devices have pooled funds to support central maintenance of GNU
CC, which is now done by Richard Kenner of New York University.
<P>
The task of central maintenance is to take responsibility for fixing bugs,
integrating and cleaning up contributions, making releases and writing high
priority improvements.
<P>
Richard Stallman hopes this will enable him to undertake a new project.
<P>
<LI><B>GCC 2 is released, GCC/G<TT>++</B>/libg<TT>++</TT> 1 Dropped</TT>
<P>
Since version 2.5.7, the GNU C Compiler has been out of beta test.
G<TT>++</TT> and GCC Version 1 are no longer being maintained or distributed by
the FSF.  Also, libg<TT>++</TT> Version 1 has been dropped.
<P>
<LI><B>Free Software Bundled with Hardware</B>
<P>
Field Technology, Inc. of Wilton, CT is selling "Linux machines" using
only copylefted &#38; public domain software.  The Unix-compatible systems are
shipped ready to run, with popular programs such as TeX, Emacs, GNU
C/C<CODE>++</CODE>, the X Window System, &#38; TCP/IP networking.  Field Technology
makes a donation to the Free Software Foundation for each system sold.
Contact <CODE>info@fieldtech.com</CODE> or <TT>+1-203-761-9363</TT> for more
information.
<P>
<LI><B>Experimental Tape Takes A Recess</B>
<P>
We are not currently distributing the Experimental Tape because most of
programs that were on it are now stable.  GCC, GAS, Binutils, libg<TT>++</TT> &#38;
the GNU C Library have moved to the Languages Tape, replacing prior
releases.  Oleo &#38; GNU Graphics are now on the Utilities Tape.
<P>
<LI><B>SNePS Now Free Software</B>
<P>
The current release, 2.1, of the Semantic Network Processing System (SNePS),
is publicly available under the terms of the GNU General Public
License.  Previously it was available for a licensing fee.
<P>
SNePS is the implementation of a fully intensional theory of
propositional knowledge representation and reasoning.  SNePS 2.1
requires Common-Lisp and runs on SPARCs with SunOS 4, as well as the
TI Explorer I/II.  Previous versions ran on Symbolics CL, AKCL,
and VAX Common-Lisp, but the current release remains untested on these
systems.  SNePS can be obtained by anonymous FTP from
<CODE>ftp.cs.buffalo.edu</CODE> in <TT>`/pub/sneps'</TT>.
<P>
<LI><B>Lisp Class Library for C<TT>++</B> Programmers</TT>
<P>
Lily is a C<CODE>++</CODE> class library providing Lisp-like functionality,
including automatic garbage collection.  Lily is available by
anonymous FTP from <CODE>sunsite.unc.edu</CODE>.  For more info,
write <CODE>sheldon@kong.gsfc.nasa.gov</CODE>.
<P>
<LI><B>Free Widget Foundation Announces Widgets</B>
<P>
The Free Widget Foundation (FWF) is a
volunteer effort to create a set of powerful, flexible,
freely-accessible X graphical user-interface modules (widgets).
The FWF is not related to the Free Software Foundation, but it shares our
goal of making high-quality software freely redistributable.
<P>
For information or to volunteer,
get <TT>`/pub/FWF/README'</TT> via anonymous FTP to <CODE>a.cs.uiuc.edu</CODE>,
write <CODE>free-widgets-info@flute.cs.uiuc.edu</CODE>,
or write:
The Free Widget Foundation, c/o Brian Totty, Department of Computer
Science, University of Illinois -- Urbana, 1304 W. Springfield Avenue,
Urbana, IL   61801   USA
<P>
</UL>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_6.html">previous</A>, <A HREF="gnu_bulletin_9401_8.html">next</A> chapter.<P>
