<TITLE> - How to Get GNU Software</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_23.html">previous</A>, <A HREF="gnu_bulletin_9401_25.html">next</A> chapter.<P>
<H1><A NAME="SEC48" HREF="gnu_bulletin_9401_toc.html#SEC48">How to Get GNU Software</A></H1>
<P>
All the software and publications from the Free Software Foundation are
distributed with permission to copy and redistribute.  The easiest way to
get GNU software is to copy it from someone else who has it.
You can get GNU software direct from the FSF by ordering diskettes, a tape,
or a CD-ROM.  Such orders provide most of the funds for the FSF staff, so
please support our work by ordering if you can.  See the "Free Software
Foundation Order Form".
<P>
There are also third party groups who distribute our software; they do not
work with us, but can provide our software in other forms.  For your
convenience some are listed in "Free Software for Microcomputers".
Please note that the Free Software Foundation is <EM>not</EM> affiliated with
them in any way and is responsible for neither the currency of their
versions nor the swiftness of their responses.
<P>
If you decide to do business with one of these distributors, ask them how
much they do to assist free software development, e.g. by contributing
money to free software development projects or by writing free software
themselves for general use.  By basing your decision partially
on this factor, you can help encourage those who profit from free software
to contribute to its growth.
<P>
If you have Internet access and cannot access one of the hosts below, you
can get the software via anonymous FTP from GNU's distribution host
<CODE>prep.ai.mit.edu</CODE> (the IP address is <CODE>18.71.0.38</CODE>).  For
more information, get file <TT>`/pub/gnu/GETTING.GNU.SOFTWARE'</TT>.
<CODE>prep</CODE> is a very busy host and only allows a limited number of FTP
logins at any given time.  Please use one of these other TCP/IP Internet
sites that also provide GNU software via anonymous FTP (program:
<CODE>ftp</CODE>, user: <CODE>anonymous</CODE>, password: <VAR>your e-mail
address</VAR>, mode: <CODE>binary</CODE>).
<P>
<UL>
<P>
<LI><B>Africa</B>:
<CODE>ftp.sun.ac.za</CODE>.
<P>
<LI><B>Australasia</B>:
<CODE>archie.au</CODE> (<CODE>archie.oz</CODE> for ACSnet),
<P>
<CODE>cair.kaist.ac.kr</CODE>,
<CODE>utsun.s.u-tokyo.ac.jp</CODE>,
<CODE>ftp.cs.titech.ac.jp</CODE>.
<P>
<LI><B>Canada</B>:
<CODE>ftp.cs.ubc.ca</CODE>.
<P>
<LI><B>Middle East</B>:
<CODE>ftp.technion.ac.il</CODE>.
<P>
<LI><B>Europe</B>:
<CODE>ugle.unit.no</CODE>,
<CODE>ftp.stacken.kth.se</CODE>,
<CODE>isy.liu.se</CODE>,
<P>
<CODE>ftp.luth.se</CODE>,
<CODE>unix.hensa.ac.uk</CODE>,
<CODE>ftp.mcc.ac.uk</CODE>,
<P>
<CODE>ftp.informatik.tu-muenchen.de</CODE>,
<CODE>ftp.informatik.rwth-aachen.de</CODE>,
<P>
<CODE>ftp.denet.dk</CODE>,
<CODE>ftp.eunet.ch</CODE>,
<CODE>nic.switch.ch</CODE>,
<CODE>irisa.irisa.fr</CODE>
<P>
<CODE>ftp.funet.fi</CODE>,
<CODE>ftp.win.tue.nl</CODE>,
<CODE>ftp.univ-lyon1.fr</CODE>,
<CODE>archive.eu.net</CODE>.
<P>
<LI><B>USA</B>:
<CODE>labrea.stanford.edu</CODE>,
<CODE>ftp.kpc.com</CODE>,
<CODE>ftp.digex.net</CODE>,
<P>
<CODE>ftp.cs.widener.edu</CODE>,
<CODE>ftp.cs.columbia.edu</CODE>,
<CODE>vixen.cso.uiuc.edu</CODE>,
<P>
<CODE>wuarchive.wustl.edu</CODE>,
<CODE>gatekeeper.dec.com</CODE>,
<CODE>ftp.hawaii.edu</CODE>,
<P>
<CODE>cc.utah.edu</CODE> (VMS GNU Emacs),
<CODE>mango.rsmas.miami.edu</CODE> (VMS GCC),
<CODE>ftp.uu.net</CODE> (under <TT>`/packages/gnu'</TT>).
<P>
</UL>
<P>
Those on JANET can look under <CODE>src.doc.ic.ac.uk</CODE> in
<TT>`/gnu'</TT>.
<P>
You can get some GNU programs via UUCP.  Ohio State University posts their
UUCP instructions regularly to newsgroup <CODE>comp.sources.d</CODE> on
USENET.  These people will send you UUCP instructions via electronic mail:
<P>
<PRE>
hao!scicom!qetzal!upba!ugn!nepa!denny, uunet!hutch!barber,
src@contrib.de (Europe), james@bigtex.cactus.org, acornrc!bob,
toku@dit.co.jp (Japan), staff@cis.ohio-state.edu
</PRE>
<P>
For those without Internet access, see the section "Free Software
Support" for information on getting electronic mail and file transfer
via UUCP.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_23.html">previous</A>, <A HREF="gnu_bulletin_9401_25.html">next</A> chapter.<P>
