<TITLE> - FSF T-shirt</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_27.html">previous</A>, <A HREF="gnu_bulletin_9401_29.html">next</A> chapter.<P>
<H1><A NAME="SEC56" HREF="gnu_bulletin_9401_toc.html#SEC56">FSF T-shirt</A></H1>
<P>
We still have our Free Software Foundation T-shirts available, designed
by Cambridge artist Jamal Hannah.
They are available in two colors, Natural and Black.  Natural is an
off-white, unbleached, undyed, environment-friendly cotton, printed
with black ink, and is great for tye-dyeing or displaying as is.  Black is
printed with white ink and is perfect for late night hacking.  All
shirts are thick 100% cotton, and are available in sizes M, L, XL and
XXL.
<P>
The front of the t-shirt is shown below.
We have just added a copy of the GNU General Public License to the back of
the t-shirt, which use to be blank.
<P>
Use the "Free Software Foundation Order Form" to order your shirt, and
consider getting one as a present for your favorite hacker!
<P>
<BLOCKQUOTE>
<EM>Work for something because it is good, not just because it stands
a chance to succeed.</EM> - Vaclav Havel
</BLOCKQUOTE>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_27.html">previous</A>, <A HREF="gnu_bulletin_9401_29.html">next</A> chapter.<P>
