<TITLE> - GNU's Who</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_2.html">next</A> chapter.<P>
<H1><A NAME="SEC1" HREF="gnu_bulletin_9401_toc.html#SEC1">GNU's Who</A></H1>
<P>
<B>Michael Bushnell</B> continues to work on the Hurd, while also
maintaining <CODE>tar</CODE>.  <B>Roland McGrath</B> maintains <CODE>make</CODE> and
the GNU C library, helps with Emacs 19, and is now working on the Hurd.
<B>Jan Brittenson</B> is working on the Hurd network server.
<P>
<B>Noah Friedman</B> is our system ambiguator, release coordinator, and
maintains a few programs in his copious spare time.  <B>Carl Hoffman</B>
is our fundraiser and conference organizer.
<P>
<B>Lisa `Opus' Goldstein</B> is our Treasurer.  <B>Robert J.
Chassell</B> is writing an <CITE>Introduction to Programming in Emacs Lisp</CITE>
and remains on our Board of Directors.  <B>Larissa Carlson</B> is
<B>Lisa's</B> office assistant.  <B>Charles Hannum</B> works on typesetting
and many other jobs.
<P>
<B>Jim Blandy</B> has left to pursue academic interests.
<B>Melissa Weisshaus</B> and <B>Tom Lord</B> have also left the FSF.
All three still volunteer part-time.
<P>
<B>Richard Stallman</B> continues as a volunteer who does countless
tasks, such as Emacs maintenance.  Volunteer <B>Len Tower</B>
remains our on-line JOAT (jack-of-all-trades), handling mailing lists
and gnUSENET, information requests, etc.
<P>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_2.html">next</A> chapter.<P>
