<TITLE> - Free Software Support</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_9.html">previous</A>, <A HREF="gnu_bulletin_9401_11.html">next</A> chapter.<P>
<H1><A NAME="SEC10" HREF="gnu_bulletin_9401_toc.html#SEC10">Free Software Support</A></H1>
<P>
The Free Software Foundation does not provide any technical support.
Although we create software, we leave it to others to earn a living
providing support.  We see programmers as providing a service, much as
doctors and lawyers now do; both medical and legal knowledge are freely
redistributable entities for which the practitioners charge a distribution
and service fee.
<P>
We maintain a list of people who offer support and other consulting
services, called the GNU Service Directory.  It is in the file
<TT>`etc/SERVICE'</TT> in the GNU Emacs distribution, <TT>`SERVICE'</TT> in the
GCC distribution and <TT>`/pub/gnu/GNUinfo/SERVICE'</TT> on anonymous FTP host
<CODE>prep.ai.mit.edu</CODE>.  Contact us if you would like a printed copy
or wish to be listed in it.
<P>
If you find a deficiency in any GNU software, we want to know.  We have
many Internet mailing lists for bug reports, announcements and questions.
They are also gatewayed into USENET news as the <CODE>gnu.*</CODE> newsgroups.
You can request a list of the mailing lists from either
address on the front cover.
<P>
When we receive a bug report, we usually try to fix the problem.  While
our bug fixes may seem like individual assistance, they are not.  Our
task is so large that we must focus on that which helps the community as
a whole; we do not have the resources to help individuals.  We may send
you a patch for a bug that helps us test the fix and ensure its quality.
If your bug report does not evoke a solution from us, you may still get
one from another user who reads our bug report mailing lists.
Otherwise, use the Service Directory.
<P>
Please do not ask us to help you install software or figure out how to use
it--but do tell us how an installation script does not work or where
documentation is unclear.
<P>
If you have no Internet access, you can get mail and USENET news via
UUCP.  Contact a local UUCP site, or a commercial UUCP site such as:
<P>
<PRE>
UUNET Technologies, Inc.                    <CODE>info@uunet.uu.net</CODE>
3110 Fairview Park Drive - Suite 570       Phone: 1-800-4UUNET4
Falls Church, VA   22042   USA      or (703) 204-8000
                                            Fax: (703) 204-8001
</PRE>
<P>
A long list of commercial UUCP and Internet service providers is posted
periodically to USENET in the newsgroup <CODE>news.announce.newusers</CODE>
with <TT>`Subject: How to become a USENET site'</TT>.
<P>
When choosing a service provider, ask those you are considering how
much they do to assist free software development, e.g. by contributing
money to free software development projects or by writing free software
improvements themselves for general use.  By basing your decision partially
on this factor, you can help encourage those who profit from free software
to contribute to its growth.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_9.html">previous</A>, <A HREF="gnu_bulletin_9401_11.html">next</A> chapter.<P>
