<TITLE> - Compiler Tools Binaries CD-ROM</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_21.html">previous</A>, <A HREF="gnu_bulletin_9401_23.html">next</A> chapter.<P>
<H1><A NAME="SEC46" HREF="gnu_bulletin_9401_toc.html#SEC46">Compiler Tools Binaries CD-ROM</A></H1>
<P>
We are now offering a CD-ROM that contains executables for GNU compiler
tools for some systems which lack a compiler.  This will allow users of
those systems to compile GNU and other free software without having to buy
a proprietary compiler.
<P>
The CD-ROM is in ISO 9660 format and can be mounted as a read-only file
system on most operating systems.  If your driver supports it you can mount
the CD-ROM with "Rock Ridge" extensions and it will look just like an
ordinary Unix file system, rather than one full of truncated and otherwise
mangled names that fit the vanilla ISO 9660 specifications.
<P>
We hope to have more systems included with each update of this CD-ROM.  If
you can help build binaries for new systems (especially for systems that
don't come with a C compiler), or have a system to suggest, please contact
us at either address on the front cover.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_21.html">previous</A>, <A HREF="gnu_bulletin_9401_23.html">next</A> chapter.<P>
