<TITLE> - What Is the Free Software Foundation?</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_2.html">previous</A>, <A HREF="gnu_bulletin_9401_4.html">next</A> chapter.<P>
<H1><A NAME="SEC3" HREF="gnu_bulletin_9401_toc.html#SEC3">What Is the Free Software Foundation?</A></H1>
<P>
The Free Software Foundation is dedicated to eliminating restrictions on
people's right to use, copy, modify, and redistribute computer programs.
We promote the development and use of free software in all areas using
computers.  Specifically, we are putting together a complete, integrated
software system named "GNU" ("GNU's Not Unix", pronounced
"guh-new") that will be upwardly compatible with Unix.  Most parts of
this system are already being used and distributed.
<P>
The word "free" in our name refers to freedom, not price.
You may or may not pay money to get GNU software, but regardless you have
two specific freedoms once you get it: first, the freedom to copy a program
and give it away to your friends and co-workers; and second, the freedom to
change a program as you wish, by having full access to source code.  You
can study the source and learn how such programs are written.  You may then
be able to port it, improve it, and share your changes with others.  If you
redistribute GNU software you may charge a distribution fee or give it away.
<P>
Other organizations distribute whatever free software happens to be
available.  By contrast, the Free Software Foundation concentrates on the
development of new free software, working towards a GNU system complete
enough to eliminate the need to purchase a proprietary system.
<P>
Besides developing GNU, the FSF distributes GNU software and manuals for a
distribution fee and accepts gifts (tax-deductible in the U.S.) to support
GNU development.  Most of the FSF's funds come from this distribution
service.
<P>
The Officers of the Foundation are: Richard M. Stallman, President,
and Lisa Goldstein, Treasurer/Secretary.  The Foundation Board of
Directors are: Richard M. Stallman, Gerald J. Sussman, Harold
Abelson, Robert J. Chassell, and Leonard H. Tower Jr.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_2.html">previous</A>, <A HREF="gnu_bulletin_9401_4.html">next</A> chapter.<P>
