<TITLE> - Cygnus Matches Donations!</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_5.html">previous</A>, <A HREF="gnu_bulletin_9401_7.html">next</A> chapter.<P>
<H1><A NAME="SEC6" HREF="gnu_bulletin_9401_toc.html#SEC6">Cygnus Matches Donations!</A></H1>
<P>
To encourage cash donations to the Free Software Foundation, Cygnus Support
will continue to contribute corporate funds to FSF to accompany gifts by
its employees, and by its customers and their employees.
<P>
Donations payable to the Free Software Foundation should be sent by
eligible persons to Cygnus Support, which will add its gifts and forward the
total to the FSF each quarter.  The FSF will provide the contributor with a
receipt to recognize the contribution (which is tax-deductible on U.S.
tax returns).  For more information, please contact Cygnus at
<CODE>info@cygnus.com.</CODE>
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_5.html">previous</A>, <A HREF="gnu_bulletin_9401_7.html">next</A> chapter.<P>
