<TITLE> - Thank GNUs</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_28.html">previous</A>, <A HREF="gnu_bulletin_9401_30.html">next</A> chapter.<P>
<H1><A NAME="SEC57" HREF="gnu_bulletin_9401_toc.html#SEC57">Thank GNUs</A></H1>
<P>
Thanks to all those mentioned above in "Informal GCC Consortium", "GNUs
Flashes", "Project GNU Status Report", "Second Annual GNU Seminar in
Japan", "GNU and other Free Software in Japan" and "GNU Software
Available Now".
<P>
Thanks to the <B>Artificial</B> <B>Intelligence</B> <B>Laboratory</B>,
<B>Laboratory</B> <B>for</B> <B>Computer</B> <B>Science</B>, and
<B>Project Athena</B> at <B>MIT</B> for their invaluable assistance.
<P>
Thanks to the many companies and organizations who have brought our Deluxe
Distribution package.
<P>
For their assistance in Japan, thanks to:
<B>Nobuyuki Hikichi</B>,
<B>Mieko Hikichi</B>,
<B>Ken'ichi Handa</B>,
<B>Bob</B> <B>Myers</B>,
<B>David Littleboy</B>,
<B>Prof. Masayuki Ida</B>,
<B>Japan</B> <B>Unix</B> <B>Society</B>,
 
<B>Senri</B> <B>International</B> <B>Information</B> <B>Institute</B>,
  <B>Industrial</B> <B>Vitalization</B> <B>Center</B> <B>for</B>
<B>Tohoku</B>,
<B>The</B> <B>University</B> <B>of</B> <B>Aizu</B>, and
<B>Nihon</B> <B>Sun</B> <B>User</B> <B>Group</B>.
Thanks to
<B>Addison</B> <B>Wesley</B> <B>Publishers</B> <B>Japan</B>,
<B>A.I. Soft</B>,
<B>Village</B> <B>Center,</B> <B>Inc.</B>,
<B>ASCII</B> <B>Corporation</B>
and many others in Japan, for their continued donations and support.
<P>
Thanks to the <B>Sun Users Group</B>, <B>PCI</B>, and the <B>USENIX
Association</B>, for donating booths at their conferences.  Thanx to all the
volunteers who helped the GNU Project at these and other conferences.
Thanks to <B>Wired Magazine</B> and <B>Barry</B> <B>Meikle</B> of the
<B>University of Toronto</B> <B>Bookstore</B> for donating us ad space in
their separate publications.
<P>
Thanks again to the <B>Open</B> <B>Software</B> <B>Foundation</B> for
their continued support; and to <B>Cygnus</B> <B>Support</B> for
assisting Project GNU in many ways.
Thanks to <B>Warren A. Hunt, Jr.</B> and <B>Computational Logic,
Inc.</B> for their donation and support.  Thanks to <B>Aalborg
University</B> for donating a part-time programmer.
Thanks to <B>Jamie Zawinski</B> for his implementation of some
of the X-related features in Emacs 19.
<P>
Thanks go out to all those who have either lent or donated machines,
including an anonymous donor for a 4mm DAT catridge drive, <B>IBM</B>
<B>Corp.</B> for an Exabyte tape drive and an RS/6000; <B>Cygnus</B>
<B>Support</B> for a Sun SPARCstation; <B>Hewlett-Packard</B> for two
80486, six 68030 and four Spectrum computers; <B>Brewster Kahle</B> of
Thinking Machines Corp. for a Sun-4/110; CMU's <B>Mach</B>
<B>Project</B> for a Sun-3/60; <B>Intel Corp.</B> for their 386
machine; <B>NeXT</B> for their workstation; the <B>MIT</B> <B>Media</B>
<B>Laboratory</B> for a Hewlett-Packard 68020; <B>SONY</B>
<B>Corp.</B> and <B>Software</B> <B>Research</B> <B>Associates</B>,
<B>Inc.</B>, both of Tokyo, for three SONY News workstations;
the <B>MIT</B> <B>Laboratory</B>
<B>of</B> <B>Computer</B> <B>Science</B> for the DEC MicroVAX; the
<B>Open</B> <B>Software</B> <B>Foundation</B> for two Compaq 386s;
<B>Delta Microsystems</B> for an Exabyte tape drive; an anonymous donor
for 5 IBM RT/PCs; <B>Liant Software Corp.</B> for five VT100s; <B>Jerry
Peek</B> for a 386 machine; <B>NCD Corporation</B> for an X terminal; and
<B>Interleaf, Inc.</B>, <B>Veronika Caslavsky</B>, <B>Paul English</B>,
<B>Cindy Woolworth</B> and <B>Lisa Bergen</B> for the loan of a scanner.
<P>
Thanks to all who have contributed ports &#38; extensions, as well as all
who have sent in other source code, documentation, &#38; good bug reports.
<P>
Thanks to all those who sent money and offered other kinds of help.
<P>
Thanks also to all those who support us by ordering manuals,
distribution tapes, diskettes, and CD-ROMs.
<P>
The creation of this bulletin is our way of thanking all who have expressed
interest in what we are doing.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_28.html">previous</A>, <A HREF="gnu_bulletin_9401_30.html">next</A> chapter.<P>
