<TITLE> - Second Annual GNU Seminar in Japan</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_12.html">previous</A>, <A HREF="gnu_bulletin_9401_14.html">next</A> chapter.<P>
<H1><A NAME="SEC30" HREF="gnu_bulletin_9401_toc.html#SEC30">Second Annual GNU Seminar in Japan</A></H1>
<P>
Wingnut and the FSF sponsored the second GNU Technical Seminar in
Tokyo on December 1 and 2, 1993.  Richard Stallman spoke on the
GNU Project and the FSF.  Jim Blandy then spoke on GNU Emacs 19.
Finally Manabu Higashida spoke on Demacs (see "Free Software for
Microcomputers").  Bob Myers and David Littleboy translated
the English lectures into Japanese.  Software Research Associates,
Inc. (SRA), the SRA/Wingnut project and their staff provided
help in countless ways for this seminar and the entire trip to Japan.
About 70 people attended the seminar, and several Japanese publications
interviewed Richard Stallman.  The FSF also premiered the new
edition of it's Source Code CD-ROM.
<P>
Seminars were also held at
Sendai on Dec 6th, where Richard Stallman spoke;
The University of Aizu on Dec 7th, where Richard Stallman and
Jim Blandy spoke; and
Osaka on Dec 13th where Richard Stallman and
Manabu Higashida spoke.
We thank all the people and organizations who helped make
these seminars a reality, including the organizers, hosts, and
interpreters.
<P>
The Japan Unix Society gave the FSF a booth at Unix Fair '93 in
Yokohama.  We thank all the volunteers and organizations who helped
the FSF run this booth.
<P>
Our success at the seminars and trade shows exceeded our expectations.  We
received many unsolicited donations from individual supporters and users'
groups, and are thankful for the number of enthusiastic volunteers who
helped us.  In the future we hope to appear at even more Unix events both
in Japan and elsewhere.  If you would like to host a seminar, or need a
speaker for a conference, please contact either address on the front cover.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_12.html">previous</A>, <A HREF="gnu_bulletin_9401_14.html">next</A> chapter.<P>
