<TITLE> - What Is Copyleft?</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9401_3.html">previous</A>, <A HREF="gnu_bulletin_9401_5.html">next</A> chapter.<P>
<H1><A NAME="SEC4" HREF="gnu_bulletin_9401_toc.html#SEC4">What Is Copyleft?</A></H1>
<P>
The simplest way to make a program free is to put it in the public domain,
uncopyrighted.  But this permits proprietary modifications, denying others
the freedom to use and redistribute improvements; it is contrary to the
intent of increasing the total amount of free software.  To prevent this,
<DFN>copyleft</DFN> uses copyrights in a novel manner.  Typically copyrights
take away freedoms; copyleft preserves them.  It is a legal instrument that
requires those who pass on a program to include the rights to use, modify,
and redistribute the code; the code and rights become legally inseparable.
<P>
The copyleft used by the GNU Project is made from the combination of a
regular copyright notice and the <DFN>GNU General Public License</DFN> (GPL).
The GPL is a copying license which basically says that you have the
aforementioned freedoms.  An alternate form, the <DFN>GNU Library General
Public License</DFN> (LGPL), applies to a few GNU libraries.  This license
permits linking the libraries into proprietary executables under certain
conditions.  The appropriate license is included in all GNU source code
distributions and many manuals.  Printed copies are available upon request.
<P>
We strongly encourage you to copyleft your programs and documentation,
and we have made it as simple as possible for you to do so.  The details
on how to apply either license appear at the end of each license.
<P>
<P>Go to the <A HREF="gnu_bulletin_9401_3.html">previous</A>, <A HREF="gnu_bulletin_9401_5.html">next</A> chapter.<P>
