<HEAD>
<TITLE>GNU's Bulletins</TITLE>
</HEAD>
<BODY>
<H1>GNU's Bulletins</H1>
<H2>
   The GNU's Bulletin is the semi-annual newsletter of the
	    Free Software Foundation, bringing you
		 news about the GNU Project.
</H2>
<P>
The following are ALL the GNU's Bulletins.
<P>
If you would like a hardcopy, send your request to the FSF
(including a small donation to cover copying costs is appreciated, but is not
required).  If you live in an area served by the US Post Office, please also
include either: your address on a mailing label and $0.55 in stamps; or a SASE
(Self-Addressed Stamped ($0.78) Number 10 or A5 sized Envelope).  If you're
from outside the USA, sending a mailing label rather than an envelope, and
enough International Reply Coupons for a package of about 100 grams is
appreciated but not required.  (Including a few extra International Reply
Coupons for copying costs is also appreciated.)
<P>
<!--
Most of the conversions to HTML were done by
<A HREF="../../index.html">me</A> except for two of them given to me
by Sven Rudolph (sr1@inf.tu-dresden.de).
Therefore, send corrections to trent@cs.pdx.edu, as they may well be
conversion errors.

<P>
If you want all of the bulletins, I have prepared a
<A HREF="all.tar.gz">tar.gz file of all the txt and html files</A>
(it's about a meg, so I may remove it at some point due to disk space)
-->
<UL>
<LI> <A HREF="21/bull21.txt">January 1996</A> (no html version yet)

<LI> <A HREF="20/bull20.txt">June 1995</A> (no html version yet)

<LI> <A HREF="19/bull19.txt">January 1995</A> (no html version yet)

<LI> <A HREF="18/bull18.txt">June 1994</A> (no html version yet)

<LI> <A HREF="17/gnu_bulletin_9401_toc.html">January 1994</A>
(The <A HREF=17/bull17.txt>ascii version</A> is also available).
<BR>
<!--
<CITE>Towards a New Strategy of OS Design</CITE> -- the paper on the
<A HREF="../hurd.html">GNU Hurd</A>.
-->
<LI> <A HREF="16/gnu_bulletin_toc.html">June 1993</A>
The <A HREF=16/bull16.txt>ascii version</A> is also available.

<LI> <A HREF="15/bull15.txt">January 1993</A> (no html version yet)
<BR>
Gzip released

<LI> <A HREF="14/bull14_toc.html">Mystery Issue</A>
What is this one??  It claims to be
both June 1992 and January 1993 (it ain't the latter)
I suspect it was a slight update on the June 1992 edition.

<LI> <A HREF="13/bull13_toc.html">June 1992</A>
(The <A HREF=13/bull13.txt>ascii version</A> is also available).
<BR>
Hurd news, 
Another Free Software Support Business, GNU in Japan.

<LI> <A HREF="12/bull12_toc.html">January 1992</A>
(The <A HREF=12/bull12.txt>ascii version</A> is also available).
<BR>
LPF Ends Ashton-Tate Boycott,
GNU Helps Science (big and small).

<LI> <A HREF="11a/bull11a_toc.html">November 1991</A><BR>
June issue revised to include X11r5.

<LI> <A HREF="11/bull11_toc.html">June 1991</A>
(The <A HREF=11/bull11.txt>ascii version</A> is also available).
<BR>
AT&#38;T Threatens Users of X Windows,
Copyrighted Programming Languages.

<LI> <A HREF="10/bull10_toc.html">January 1991</A>
(The <A HREF=10/bull10.txt>ascii version</A> is also available).
<BR>
Protect Your Freedom to Write Programs,
Help Keep Government Software Free,
GNUish MS-DOS project

<LI> <A HREF="09/bull9_toc.html">June 1990</A>
(The <A HREF=09/bull9.txt>ascii version</A> is also available).
<BR>
Possible New Terms for GNU Libraries,
Emacs Lisp Reference Manual released,
GNU Smalltalk

<LI> <A HREF="08/bull8_toc.html">January 1990</A>
(The <A HREF=08/bull8.txt>ascii version</A> is also available).
<BR>
Boycott Apple; Defend Apple, League for Programming Freedom,
Online Book Initiative, Common Knowledge's Universal Index,
Freemacs.

<LI> <A HREF="07/bull7_toc.html">June-1989</A><BR>
More donations, NeXT using GCC, Interface copyrights,
Common Knowledge, GCC compiles BSD,
Parts of BSD freed.

<LI> <A HREF="06/bull6_toc.html">Jan-1989</A><BR>
GPL changes, HP donation, Bison manual, Ghostscript in beta test,
NeXT using GNU, Gawk, Bash

<LI> <A HREF="05/bull5_toc.html">June-1988</A><BR>
Apple's New Look and Feel, GNU in Japan, Termcap manual,
Hardware donations

<LI> <A HREF="04/bull4_toc.html">Feb-1988</A><BR>
GNU C++, Bash development begins, GDB song, GNU Make,
Parts of BSD becoming free.

<LI> <A HREF="03/bull3_toc.html">June-1987</A><BR>
Audio Copy Protection, Gnu Chess improved,
Why Was Copyright Invented?

<LI> <A HREF="02/nb_toc.html">Jan-1987</A>
(The <A HREF=02/bull2.txt>ascii version</A> is also available).
<BR>
Emacs18,
Gnu C still in development, gdb, bison, assembler.

<LI> <A HREF="01/bull01.txt">Feb-1986</A> (no html version yet)
<BR>
<STRONG>Collector's Item -- First issue!</STRONG>
Emacs 17 features,
Portable C compiler being rewritten in C, Texinfo,
Some Arguments for GNU's Goals.
</UL>

<HR>
<!--
<ADDRESS><A HREF="../../home.html">trent...</A></ADDRESS>
-->
</BODY>
