<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - How to Get GNU Software</TITLE>
<P>Go to the <A HREF="gnu_bulletin_20.html">previous</A>, <A HREF="gnu_bulletin_22.html">next</A> section.<P>
<H1><A NAME="SEC31" HREF="gnu_bulletin_toc.html#SEC31">How to Get GNU Software</A></H1>
<P>
All the software and publications from Free Software Foundation are
distributed with permission to copy and redistribute.  The easiest way
to get GNU software is to copy it from someone else who has it.
<P>
You can get GNU software direct from the FSF by ordering diskettes, a
tape, or a CD-ROM.  Such orders provide most of the funds for the FSF
staff, so please support us by ordering if you can.  See the "Free
Software Foundation Order Form".
<P>
There are also third party groups who distribute our software; they do
not work with us, but can provide our software in other forms.  For your
convenience we list some of them; see "Free Software for
Microcomputers".  Please note that the Free Software Foundation is
<I>not</I> affiliated with them in any way and is responsible for neither
the currency of their versions nor the swiftness of their responses.
<P>
If you have Internet access and cannot access one of the hosts below,
you can get the software via anonymous FTP from GNU's distribution host
<CODE>prep.ai.mit.edu</CODE> (the IP address is <CODE>18.71.0.38</CODE>).
For more information, get file <TT>`/pub/gnu/GETTING.GNU.SOFTWARE'</TT>.
<CODE>prep</CODE> is a very busy host and only allows a limited number of
FTP logins at any given time.  Please use another machine, if at all
possible.
<P>
These TCP/IP Internet sites provide GNU software via anonymous FTP
(program: <CODE>ftp</CODE>, user: <CODE>anonymous</CODE>, password:
<VAR>your e-mail address</VAR>, mode: <CODE>binary</CODE>).  Please try them
before <CODE>prep.ai.mit.edu</CODE>.
<P>
<UL>
<P>
<LI><B>Australasia</B>:
<CODE>archie.oz.au</CODE> (<CODE>archie.oz</CODE> for ACSnet), <BR>
<CODE>cair.kaist.ac.kr</CODE>, <CODE>utsun.s.u-tokyo.ac.jp</CODE>,
<CODE>ftp.cs.titech.ac.jp</CODE>.
<P>
<LI><B>Europe</B>: <CODE>ugle.unit.no</CODE>, <CODE>ftp.stacken.kth.se</CODE>,
<CODE>isy.liu.se</CODE>,<BR> <CODE>ftp.luth.se</CODE>,
<CODE>unix.hensa.ac.uk</CODE>, <CODE>ftp.mcc.ac.uk</CODE>,<BR>
<CODE>ftp.informatik.tu-muenchen.de</CODE>,
<CODE>ftp.informatik.rwth-aachen.de</CODE>,<BR> <CODE>ftp.denet.dk</CODE>,
<CODE>ftp.eunet.ch</CODE>, <CODE>nic.switch.ch</CODE>,<BR>
<CODE>nic.funet.fi</CODE>, <CODE>ftp.win.tue.nl</CODE>,
<CODE>irisa.irisa.fr</CODE><BR> <CODE>grasp1.univ-lyon1.fr</CODE>,
<CODE>archive.eu.net</CODE>.
<P>
<LI><B>USA</B>: <CODE>labrea.stanford.edu</CODE>,
<CODE>jaguar.cs.utah.edu</CODE>, <CODE>ftp.kpc.com</CODE>,<BR>
<CODE>ftp.cs.widener.edu</CODE>, <CODE>ftp.cs.columbia.edu</CODE>,
<CODE>uxc.cso.uiuc.edu</CODE>,<BR> <CODE>col.hp.com</CODE>,
<CODE>wuarchive.wustl.edu</CODE>, <CODE>gatekeeper.dec.com</CODE>,<BR>
<CODE>cc.utah.edu</CODE> (VMS GNU Emacs), <CODE>mango.rsmas.miami.edu</CODE>
(VMS GCC), <CODE>ftp.uu.net</CODE> (under <TT>`/packages/gnu'</TT>).
</UL>
<P>
Those on JANET can look under <CODE>src.doc.ic.ac.uk</CODE> in
<TT>`/gnu'</TT>.
<P>
You can get some GNU programs via UUCP.  Ohio State University posts
their UUCP instructions regularly to newsgroup <CODE>comp.sources.d</CODE>
on USENET.  These people will send you UUCP instructions via electronic
mail:
<P>
<PRE>
hao!scicom!qetzal!upba!ugn!nepa!denny, uunet!hutch!barber,
src@contrib.de (Europe), james@bigtex.cactus.org, acornrc!bob,
toku@dit.co.jp, staff@cis.ohio-state.edu, info@uunet.uu.net
</PRE>
<P>
For those without Internet access, see the section "Free Software
Support" for information on receiving electronic mail and file transfer
via UUCP.
<P>
<P>Go to the <A HREF="gnu_bulletin_20.html">previous</A>, <A HREF="gnu_bulletin_22.html">next</A> section.<P>
