<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - Moscow Free Software Conference</TITLE>
<P>Go to the <A HREF="gnu_bulletin_9.html">previous</A>, <A HREF="gnu_bulletin_11.html">next</A> section.<P>
<H1><A NAME="SEC12" HREF="gnu_bulletin_toc.html#SEC12">Moscow Free Software Conference</A></H1>
<P>
The International Center for Scientific and Technical Information hosted
a free software conference in Moscow, April 19--23, 1993.  Over two
hundred people attended, arriving from the Commonwealth of Independent
States, Austria, Denmark, Germany, Iran, Japan, the Netherlands, the
United Kingdom, and the United States of America.
<P>
Guest of honor Richard Stallman explained why he writes free
software.  Among the topics of the conference were an Algol--68 to C
converter, the Andrew User Interface System, Coexistence in a World of
New Freedoms, Efficient Recognition of Static Search Sets with
<CODE>gperf</CODE>, experiences from implementing a free Modula--2
translator, Russian Experiences from a Children's Computer Club, the
Russian SQL server currently under development, the Russian PLATON
Integrated Bank System, GNU Documentation in Russia, Linux in Education,
and Free Software in Russia.  Other topics included resource
organization (databases and directories), and free software business
aspects.
<P>
The conference was sponsored by <I>PC World</I> magazine, PC Center
"Techno", UrbanSoft Ltd. of St. Petersburg, Trading
House Ostankino, KLOTO Scientific Research,
Zelenogradsky Center "Zelax", and John Goode.
<P>
Write Victor P. Ivannikov, <CODE>ivan@ivann.delta.msk.su</CODE>,
Sergei Kuznetsov, <CODE>kuz@ivann.delta.msk.su</CODE>, or Yuri P.
Smirnov, <CODE>sup@ivann.delta.msk.su</CODE>, to contact GNU in Russia.
For more information about the conference, contact Geoffrey S.
Knauth, <CODE>gsk@marble.com</CODE>.
<P>
<P>Go to the <A HREF="gnu_bulletin_9.html">previous</A>, <A HREF="gnu_bulletin_11.html">next</A> section.<P>
