<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - Thank GNUs</TITLE>
<P>Go to the <A HREF="gnu_bulletin_26.html">previous</A>, <A HREF="gnu_bulletin_28.html">next</A> section.<P>
<H1><A NAME="SEC41" HREF="gnu_bulletin_toc.html#SEC41">Thank GNUs</A></H1>
<P>
Thanks to all those mentioned above in "Informal GCC Consortium",
"GNUs Flashes", "Project GNU Status Report", "GNU in Japan", and
"GNU Software Available Now".
<P>
Thanks to the <B>Artificial</B> <B>Intelligence</B> <B>Laboratory</B>
and the <B>Laboratory</B> <B>for</B> <B>Computer</B> <B>Science</B> at
<B>MIT</B> for their invaluable assistance.
<P>
Thanks to the <B>Max-Plack-Institut fuer Informatik Im Stadtwald</B>
for buying our Deluxe Distribution package.
<P>
Thanks are due to the following people for their assistance in Japan:
<B>Nobuyuki Hikichi</B> &#38; <B>Mieko Hikichi</B>, <B>Ken'ichi
Handa</B>, <B>Dr. Ikuo</B> <B>Takeuchi</B>, <B>Bob</B> <B>Myers</B>,
<B>David Littleboy</B>, <B>Mike Kandall</B>, <B>Prof. Masayuki
Ida</B>, <B>SEA</B> &#38; <B>Japan</B> <B>Unix</B> <B>Society</B>,
<B>Michio Nagashima</B> &#38; <B>Paul Abramson</B>.  Thanks to
<B>Village</B> <B>Center,</B> <B>Inc.</B>, <B>ASCII</B>
<B>Corporation</B>, <B>A.I. Soft</B>, and many others in Japan, for
their continued donations and support.
<P>
Thanks again to the <B>USENIX</B> <B>Association</B> for letting us
have a table at their conference; to the <B>Open</B> <B>Software</B>
<B>Foundation</B> for their continued support; and to <B>Cygnus</B>
<B>Support</B> for assisting Project GNU in many ways.
<P>
Thanks to <B>Wired Magazine</B> and <B>Barry Meikle</B> of the
<B>University of Toronto</B> <B>Bookstore</B> for donating us ad space
in their separate publications.
<P>
Thanks to <B>Warren A. Hunt, Jr.</B> and <B>Computational Logic,
Inc.</B> for their donation and support.
<P>
Jim Blandy thanks <B>Jamie Zawinski</B> for his implementation of some
of the X-related features in Emacs 19.
<P>
Thanks go out to all those who have either lent or donated machines,
including <B>Cygnus</B> <B>Support</B> for a Sun SPARCstation;
<B>Hewlett-Packard</B> for two 80486, six 68030, and four Spectrum
computers; <B>Brewster Kahle</B> of Thinking Machines Corp. for a
Sun-4/110; CMU's <B>Mach</B> <B>Project</B> for a Sun-3/60;
<B>Intel Corp.</B> for their 386 machine; <B>NeXT</B> for their
workstation; the <B>MIT</B> <B>Media</B> <B>Laboratory</B> for a
Hewlett-Packard 68020; <B>SONY</B> <B>Corp.</B> and <B>Software</B>
<B>Research</B> <B>Associates</B>, <B>Inc.</B>, both of Tokyo, for
three SONY News workstations; <B>IBM</B> <B>Corp.</B> for an
RS/6000; the <B>MIT</B> <B>Laboratory</B> <B>of</B> <B>Computer</B>
<B>Science</B> for the DEC MicroVAX; the <B>Open</B> <B>Software</B>
<B>Foundation</B> for the Compaq 386; <B>Delta Microsystems</B> for an
Exabyte tape drive; an anonymous donor for 5 IBM RT/PCs; <B>Liant
Software Corp.</B> for five VT100s; <B>Jerry Peek</B> for a 386 machine;
<B>NCD Corporation</B> for an X terminal; and <B>Interleaf, Inc.</B>,
<B>Veronika Caslavsky</B>, <B>Paul English</B>, <B>Cindy
Woolworth</B>, and <B>Lisa Bergen</B> for the loan of a scanner.
<P>
Thanks to all those who have contributed ports and extensions, as well
as those who have contributed other source code, documentation, and good
bug reports.
<P>
Thanks to all those who sent money and offered help.
<P>
Thanks also to all those who support us by ordering manuals,
distribution tapes, diskettes, and CD-ROMs.  The creation of this
bulletin is our way of thanking all who have expressed interest in what
we are doing.
<P>
<P>Go to the <A HREF="gnu_bulletin_26.html">previous</A>, <A HREF="gnu_bulletin_28.html">next</A> section.<P>
