<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - GNU's Who</TITLE>
<P>Go to the <A HREF="gnu_bulletin_2.html">next</A> section.<P>
<H1><A NAME="SEC1" HREF="gnu_bulletin_toc.html#SEC1">GNU's Who</A></H1>
<P>
<B>Michael Bushnell</B> is still working on the GNU Hurd and maintains
GNU <CODE>tar</CODE>.  <B>Jim Blandy</B> has prepared GNU Emacs 19.
<B>Roland McGrath</B> is polishing the C library, maintaining GNU
<CODE>make</CODE>, and helping with the GNU Hurd.
<P>
<B>Tom Lord</B> is working on Oleo, the GNU spreadsheet, as well as Rx,
a faster replacement for regex.  <B>Jan Brittenson</B> is working on
the C interpreter.  <B>Mike Haertel</B> is making GNU <CODE>grep</CODE>
POSIX-compliant and beginning work on optical character recognition.
<B>Noah Friedman</B> is our system ambiguator, release uncoordinator,
and maintains a few GNU programs in his copious spare time.
<P>
<B>Carl Hoffman</B> has hopped aboard as fundraiser and conference
organizer.  <B>Melissa Weisshaus</B> is now in charge of Publications.
She is currently editing new editions of our documentation and working
on the <CITE>GNU Utilities Manual</CITE>.
<P>
<B>Lisa `Opus' Goldstein</B> has been promoted to Treasurer, after the
resignation of <B>Robert J. Chassell</B> who had been our
Secretary/Treasurer since FSF was formed 7 years ago; Bob is now writing
his <CITE>Introduction to Programming in Emacs Lisp</CITE> and remains on our
Board of Directors.  <B>Larissa Carlson</B> is <B>Lisa's</B> new office
assistant; <B>Gena Lynne Bean</B> has left us to further her education.
<B>Spike MacPhee</B> assists RMS with administrative tasks.
<B>Charles Hannum</B> works on typesetting and many other jobs.
<P>
<B>Richard Stallman</B> continues as a volunteer who does countless
tasks such as C compiler maintenance.  Volunteer <B>Len Tower</B>
remains our on-line JOAT (jack-of-all-trades), handling mailing lists
and gnUSENET, information requests, etc.
<P>
<P>
<P>Go to the <A HREF="gnu_bulletin_2.html">next</A> section.<P>
