<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - GNU Source Code CD-ROM</TITLE>
<P>Go to the <A HREF="gnu_bulletin_21.html">previous</A>, <A HREF="gnu_bulletin_23.html">next</A> section.<P>
<H1><A NAME="SEC32" HREF="gnu_bulletin_toc.html#SEC32">GNU Source Code CD-ROM</A></H1>
<P>
The Free Software Foundation has produced its second CD-ROM.  This
CD-ROM contains sources for all of the programs on the Emacs, Languages,
Utilities, Experimental, and the MIT X Required and Optional tapes.  In
addition, the CD-ROM contains the sources for MULE 0.9.7 (see "Free
Software and GNU in Japan"); some packages ported to Intel 80386 and
80486-based machines running MS-DOS: Demacs, DJGPP 2.4, and MIT Scheme
7.2; and a snapshot of the Emacs Lisp Archive at Ohio State University.
(You can get libraries in this archive by UUCP (ask
<CODE>staff@cis.ohio-state.edu</CODE> for directions) or by anonymous FTP
from <CODE>archive.cis.ohio-state.edu</CODE> in
<TT>`/pub/gnu/emacs/elisp-archive'</TT>.)
<P>
The CD-ROM does <EM>not</EM> contain the contents of the MIT Scheme, VMS,
or Net2 tapes.
<P>
The version numbers of the software on the CD-ROM correspond to the
version numbers listed in "GNU Software Available Now," except that
the CD has both Ghostscript 2.5.2 and 2.6.  Ghostscript 2.6 was released
very shortly before the CD-ROM was made, and has a number of significant
bugs, the most serious of which are that the PBM driver produces
incorrect color output, and conversion from HSB to RGB color is
incorrect.  We are including it here in the hope that users will find it
easier to apply (relatively small) diffs from 2.6 to 2.6.1 than to
acquire 2.6.1 from scratch, or to apply diffs from 2.5.2 to 2.6 (very
large) to 2.6.1.
<P>
The CD-ROM is in ISO 9660 format and can be mounted as a read-only file
system on most operating systems.  If your driver supports it you can
mount the CD-ROM with "Rock Ridge" extensions and it will look just
like an ordinary Unix file system, rather than one full of truncated and
otherwise mangled names that fit the vanilla ISO 9660 specifications.
<P>
You can build most of this software without needing to copy the sources
off the CD.  It requires only enough free disk space for the object
files and the intermediate build targets.  Except for the GCC binaries
for SPARCstations running Solaris 2.0 and the MS-DOS binaries, there are
no precompiled programs on this CD.  You will need a C compiler
(programs which need some other interpreter or compiler normally provide
the C source for a bootstrapping program).
<P>
The CD costs $400 if you are buying it for a business or other
organization, or $100 if you are buying it for yourself.
<P>
<UL>
<P>
<LI><B>What do the individual and company prices mean?</B>
<P>
The software on our disk is free; anyone can copy it and anyone can run
it.  What we charge for is the physical disk and the service of
distribution.
<P>
We charge two different prices depending on who is buying.  When a
company or other organization buys the disk, we charge $400.  When an
individual buys the same disk, we charge just $100.
<P>
You, the reader, are certainly an individual, not a company.  If you are
buying a disk "in person", then you are probably doing so as an
individual.  But if you expect to be reimbursed by your employer, then
the disk is really for the company, so please pay the company price and
get reimbursed for the company price.  We won't try to check up on
you--we use the honor system--so please cooperate.
<P>
Buying CDs at the company price is especially helpful for the GNU
project; just 80 CDs at the company price will support an FSF programmer
or tech writer for a year.
<P>
<LI><B>Why is there an individual price?</B>
<P>
In the past, our distribution tapes have been ordered mainly by
companies.  The CD at the price of $400 provides them with all of our
software for a much lower price than they would previously have paid for
six different tapes.  To lower the price further would cut into the
FSF's funds very badly.
<P>
However, for individuals, $400 is too high a price; hardly anyone could
afford that.  So we decided to make CDs available to individuals at the
lower price of $100, but not do the same for companies.
<P>
</UL>
<P>
<P>Go to the <A HREF="gnu_bulletin_21.html">previous</A>, <A HREF="gnu_bulletin_23.html">next</A> section.<P>
