<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - What is the LPF?</TITLE>
<P>Go to the <A HREF="gnu_bulletin_11.html">previous</A>, <A HREF="gnu_bulletin_13.html">next</A> section.<P>
<H1><A NAME="SEC14" HREF="gnu_bulletin_toc.html#SEC14">What is the LPF?</A></H1>
<P>
The League for Programming Freedom (LPF) aims to protect the freedom
to write software.  This freedom is threatened by "look-and-feel"
interface copyright lawsuits and by software patents.  The LPF does not
endorse free software or the FSF.
<P>
The League's members include programmers, entrepreneurs, students,
professors, and even software companies.
<P>
From the League membership form:
<P>
<BLOCKQUOTE>
The League for Programming Freedom is a grass-roots organization of
professors, students, business people, programmers, and users dedicated
to bringing back the freedom to write programs.  The League is not
opposed to the legal system that Congress intended--copyright on
individual programs.  Our aim is to reverse the recent changes made by
judges in response to special interests.
<P>
Membership dues in the League are $42 per year for programmers, managers
and professionals; $10.50 for students; $21 for others.
</BLOCKQUOTE>
<P>
To join, please send a check and the following information:
<P>
<UL>
<UL>
<LI>
Your name and phone numbers (home, work, or both).
<P>
<LI>
The address to use for League mailings, a few each year (please indicate
whether it is your home address or your work address).
<P>
<LI>
The company you work for, and your position.
<P>
<LI>
Your email address, so the League can contact you for political action.
(If you don't want to be contacted for this, please say so, but please
provide your email address anyway.)
<P>
<LI>
Please mention anything about you which would enable your<BR> endorsement
of LPF to impress the public.
<P>
<LI>
Please say whether you would like to help with LPF activities.
<P>
</UL>
</UL>
<P>
The League is not connected with the Free Software Foundation and is not
itself a free software organization.  The FSF supports the LPF because,
like any software developer smaller than IBM, it is endangered by
software patents.  You are in danger too!  It would be easy to ignore
the problem until you or your employer is sued, but it is more prudent
to organize before that happens.
<P>
If you haven't made up your mind yet, write to LPF for more information,
or send Internet mail to <CODE>lpf@uunet.uu.net</CODE>.  The address is:
<P>
<PRE>
League for Programming Freedom     <CODE>lpf@uunet.uu.net</CODE> 1
Kendall Square   #143 P.O. Box 9171 Cambridge, MA   02139 
 USA     Phone: (617) 243-4091
</PRE>
<P>
<P>Go to the <A HREF="gnu_bulletin_11.html">previous</A>, <A HREF="gnu_bulletin_13.html">next</A> section.<P>
