<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - FSF T-shirt</TITLE>
<P>Go to the <A HREF="gnu_bulletin_25.html">previous</A>, <A HREF="gnu_bulletin_27.html">next</A> section.<P>
<H1><A NAME="SEC40" HREF="gnu_bulletin_toc.html#SEC40">FSF T-shirt</A></H1>
<P>
We still have our Free Software Foundation T-shirts available, designed
by Cambridge artist Jamal Hannah.
They are available in two colors, Natural and Black.  Natural is an
off-white, unbleached, undyed, environment-friendly cotton, printed
with black ink, and is great for tye-dyeing or displaying as is.  Black is
printed with white ink and is perfect for late night hacking.  All
shirts are thick 100% cotton, and are available in sizes M, L, XL, and
XXL.
<P>
Use the "FSF Order Form" to order your shirt, and consider getting one
as a present for your favorite hacker!
<P>
<BLOCKQUOTE>
<EM>Work for something because it is good, not just because it stands
a chance to succeed.</EM>
</BLOCKQUOTE>
<P>
<P>Go to the <A HREF="gnu_bulletin_25.html">previous</A>, <A HREF="gnu_bulletin_27.html">next</A> section.<P>
