<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - Tape Subscription Service</TITLE>
<P>Go to the <A HREF="gnu_bulletin_19.html">previous</A>, <A HREF="gnu_bulletin_21.html">next</A> section.<P>
<H1><A NAME="SEC30" HREF="gnu_bulletin_toc.html#SEC30">Tape Subscription Service</A></H1>
<P>
The FSF has a tape subscription service.  If you do not have net access,
the subscription service enables you to stay current with the latest FSF
developments.  For a one-time cost equivalent to three tapes, we will
mail you four new versions of the tape of your choice over the course of
the next year.
<P>
Every quarter, we will send you a new version of an Emacs, Languages,
Utilities, Experimental, or MIT X Window System Required tape.  The BSD
Net-2, MIT Scheme, and the MIT X Window System Optional tapes are not
changed often enough to warrant quarterly updates.
<P>
Since Emacs 19 is now on the Emacs Tape, subscription will be a
convenient way to keep up to date with Emacs 19 updates.
<P>
A subscription is also an easy way to keep up with the regular bug fixes
to the MIT X Window System.  We update the X11 Required tape, as fixes
and patches for the X Window System are issued throughout the year.
<P>
See section "Subscriptions" in the "Free Software Foundation Order
Form".
<P>
<P>Go to the <A HREF="gnu_bulletin_19.html">previous</A>, <A HREF="gnu_bulletin_21.html">next</A> section.<P>
