<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - LPF Files Amicus Brief</TITLE>
<P>Go to the <A HREF="gnu_bulletin_10.html">previous</A>, <A HREF="gnu_bulletin_12.html">next</A> section.<P>
<H1><A NAME="SEC13" HREF="gnu_bulletin_toc.html#SEC13">LPF Files Amicus Brief</A></H1>
<P>
The League for Programming Freedom has filed an amicus
("friend of the court") brief to support American
Multi-Systems, a small business that was shut down by a court for
violating two casino game software patents held by a company called
Fortunet.
<P>
Fortunet, which has shut down other makers of casino games in the
past, obtained a preliminary injunction restraining Vern Blanchard,
the owner of AMS, from selling or servicing a Bingo program.  The League
for Programming Freedom asked its members for prior art.  Marshall
Midden and Steve Peltz found a multi--user Bingo program that had
been played on the <CODE>Plato</CODE> system in the 1970's.  The judge,
however, granted the motion on the grounds that a time--sharing system
playing Bingo is different from a networked system playing Bingo.
Fortunet has an expert witness with an impressive resume who is
expressing the most absurd opinions.
<P>
The LPF brief argues against the validity of software patents in general
and these patents in particular.  It also argues that they do not apply
to the AMS Bingo system.  The brief has already had an effect--the
judge has scheduled a hearing to reconsider the injuction.
<P>
Fighting a patent in court is a grueling experience even if you
ultimately succeed.  The only feasible way to solve the problem of
software patents is to address the problem as a whole.  This is the main
activity of the LPF.  To succeed, it needs your support.
<P>
<P>Go to the <A HREF="gnu_bulletin_10.html">previous</A>, <A HREF="gnu_bulletin_12.html">next</A> section.<P>
