<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - Project GNU Wish List</TITLE>
<P>Go to the <A HREF="gnu_bulletin_12.html">previous</A>, <A HREF="gnu_bulletin_14.html">next</A> section.<P>
<H1><A NAME="SEC15" HREF="gnu_bulletin_toc.html#SEC15">Project GNU Wish List</A></H1>
<P>
Wishes for this issue are for:
<P>
<UL>
<LI>
Volunteers to distribute this Bulletin at technical conferences, trade
shows, etc.  Please phone the number on the front cover to make
arrangements.
<P>
<LI>
Money, as always.  If you use and appreciate our software, please send a
donation.
One way to give us a small amount of money is to order a distribution
tape, diskette, or CD-ROM.  This may not count as a donation for tax
purposes, but it can qualify as a business expense.  This is especially
helpful if you work for a business where the word "donation" is
anathema.
<P>
<LI>
Oleo extensions or other free software for business, such as
bookkeeping.
<P>
<LI>
600<TT>+</TT> megabyte SCSI disks to give us more space to develop software.
<P>
<LI>
A 386 or 486 PC compatible with 200<TT>+</TT> MB of disk and an Ethernet
card.
<P>
<LI>
A 4mm DAT tape drive, an Exabyte tape drive, a Sun SPARCstation, and a
Sun-3/60 or 4/110.
<P>
<LI>
Companies to lend us capable programmers and technical writers for at
least six months.  True wizards may be welcome for shorter periods, but
we have found that six months is the minimum time for a good programmer
to finish a worthwhile project.
<P>
<LI>
Volunteers to help write programs and documentation.  Send mail to
<CODE>gnu@prep.ai.mit.edu</CODE> for the task list and coding standards.
<P>
<LI>
Professors who might be interested in sponsoring or hosting research
assistants to do GNU development, with FSF support.
<P>
<LI>
Speech and character recognition software and systems (if the devices
aren't too weird), with the device drivers if possible.  This would help
the productivity of partially disabled people (including a few we know).
<P>
<LI>
New quotes and ideas for articles in the GNU's Bulletin.  We
particularly like to highlight organizations involved with free
information exchange and companies providing free software support as a
primary business.
<P>
<LI>
Copies of newspaper and journal articles mentioning the GNU Project or
GNU software.  Send these to the address on the front cover, or send a
citation to <CODE>gnu@prep.ai.mit.edu</CODE>.
<P>
</UL>
<P>
<P>Go to the <A HREF="gnu_bulletin_12.html">previous</A>, <A HREF="gnu_bulletin_14.html">next</A> section.<P>
