<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - The Text Software Initiative</TITLE>
<P>Go to the <A HREF="gnu_bulletin_13.html">previous</A>, <A HREF="gnu_bulletin_15.html">next</A> section.<P>
<H1><A NAME="SEC16" HREF="gnu_bulletin_toc.html#SEC16">The Text Software Initiative</A></H1>
<P>
The Text Software Initiative (TSI) is an international effort to promote
the development and use of free software for all kinds of text analysis
and manipulation, including markup of physical and logical text
features, linguistic analysis and annotation, browsing and retrieval,
statistical analysis, and other text-related tasks in research in
computational linguistics, humanities computing, terminology and
lexicography, speech, etc.  A central component of TSI is the
development of guidelines and standards for text software, in order to
ensure compatibility, extendability, and reusability.
<P>
TSI borrows from the principles of FSF, by promoting distributed
software development on a voluntary basis and protecting the freedom to
copy, redistribute, and modify software.
<P>
For more information, contact the project coordinators, who are Nancy
Ide, <CODE>ide@cs.vassar.edu</CODE> and Jean Veronis,
<CODE>veronis@grtc.cnrs-mrs.fr</CODE>.
<P>
<P>Go to the <A HREF="gnu_bulletin_13.html">previous</A>, <A HREF="gnu_bulletin_15.html">next</A> section.<P>
