<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - Donations Translate Into Free Software</TITLE>
<P>Go to the <A HREF="gnu_bulletin_5.html">previous</A>, <A HREF="gnu_bulletin_7.html">next</A> section.<P>
<H1><A NAME="SEC7" HREF="gnu_bulletin_toc.html#SEC7">Donations Translate Into Free Software</A></H1>
<P>
If you appreciate Emacs, GNU CC, Ghostscript, and other free software,
you may wish to help us make sure there is more in the
future--remember, <I>donations translate into more free software!</I>
<P>
Your donation to us is tax-deductible in the United States.  We gladly
accept <I>all</I> currencies, although the U.S. dollar is the most
convenient.
<P>
If your employer has a matching gifts program for charitable donations,
please arrange to have your donation matched by your employer.  If you
do not know, please ask your personnel department.
<P>
<PRE>
$500 $250 $100 $50 other $______

Other currency:______
</PRE>
<P>
Circle the amount you are donating,
tear off this page,
and send it with your donation to:
<P>
  Free Software Foundation, 675 Mass. Ave., Cambridge, MA  
02139   USA
<P>
<H3><A NAME="SEC8" HREF="gnu_bulletin_toc.html#SEC8">Cygnus Matches Donations!</A></H3>
<P>
To encourage cash donations to the Free Software Foundation, Cygnus
Support will match gifts by its employees, and by its customers and
their employees.
<P>
Cygnus will match donations from its employees up to a maximum of $1000
per employee, and will match donations from customers and their
employees at 50% to a maximum of $1000 per customer.  Cygnus Support
will donate up to a total of $10,000 in 1993.
<P>
Donations payable to the Free Software Foundation should be sent by
eligible persons to Cygnus Support where they will be matched and
forwarded to the FSF each quarter.  The FSF will provide the contributor
with a receipt to recognize the contribution (which is tax-deductible on
U.S. tax returns).  Donations sent to the FSF directly will not be
matched, except by prior arrangement with Cygnus Support.
<P>
<P>Go to the <A HREF="gnu_bulletin_5.html">previous</A>, <A HREF="gnu_bulletin_7.html">next</A> section.<P>
