<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - What Is Copyleft?</TITLE>
<P>Go to the <A HREF="gnu_bulletin_3.html">previous</A>, <A HREF="gnu_bulletin_5.html">next</A> section.<P>
<H1><A NAME="SEC4" HREF="gnu_bulletin_toc.html#SEC4">What Is Copyleft?</A></H1>
<P>
The simplest way to make a program free is to put it in the public
domain, uncopyrighted.  But this allows anyone to copyright and restrict
its use against the author's wishes, thus denying others the right to
access and freely redistribute it.  This completely perverts the
original intent.<P>
To prevent this, we copyright our software in a novel manner.  Typical
software companies use copyrights to take away your freedoms.  We use
the <DFN>copyleft</DFN> to preserve them.  It is a legal instrument that
requires those who pass on the program to include the rights to further
redistribute it, and to see and change the code; the code and rights
become legally inseparable.<P>
The copyleft used by the GNU Project is made from a combination of a
regular copyright notice and the <DFN>GNU General Public License</DFN> (GPL).
The GPL is a copying license which basically says
that you have the freedoms discussed above.  An alternate form, the
<DFN>GNU Library General Public License</DFN> (LGPL), applies to certain GNU
Libraries.  This license permits linking the libraries into proprietary
executables under certain conditions.  The appropriate license is
included in all GNU source code distributions and in many of our
manuals.  We will also send you a printed copy upon request.<P>
<P>Go to the <A HREF="gnu_bulletin_3.html">previous</A>, <A HREF="gnu_bulletin_5.html">next</A> section.<P>
