<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - What is the Free Software Foundation?</TITLE>
<P>Go to the <A HREF="gnu_bulletin_2.html">previous</A>, <A HREF="gnu_bulletin_4.html">next</A> section.<P>
<H1><A NAME="SEC3" HREF="gnu_bulletin_toc.html#SEC3">What is the Free Software Foundation?</A></H1>
<P>
The Free Software Foundation is dedicated to eliminating
restrictions on people's abilities and rights to copy, redistribute,
understand, and modify computer programs.  We do this by promoting the
development and use of free software in all areas of computer use.
Specifically, we are putting together a complete integrated software
system named "GNU" (GNU's Not Unix) (pronounced "guh-new") that
will be upwardly compatible with Unix.  Most parts of this system are
already working, and we are distributing them now.
<P>
The word "free" in our name pertains to freedom, not price.  You may or
may not pay money to get GNU software.  Either way, you have two specific
freedoms once you have the software: first, the freedom to copy the program
and give it away to your friends and co-workers; and second, the freedom to
change the program as you wish, by having full access to source code.
Furthermore, you can study the source and learn how such programs are
written.  You may then be able to port it, improve it, and share your
changes with others.  If you redistribute GNU software, you may charge a
fee for the physical act of transferring a copy, or you may give away
copies.
<P>
Other organizations distribute whatever free software happens to be
available.  By contrast, the Free Software Foundation concentrates on
development of new free software, working towards a GNU system complete
enough to eliminate the need for you to purchase a proprietary
system.
<P>
Besides developing GNU, FSF distributes copies of GNU software and
manuals for a distribution fee, and accepts tax-deductible gifts to
support GNU development.  Most of FSF's funds come from its distribution
service.  We are tax exempt; you can deduct donations to us on your
U.S. tax returns.
<P>
The Officers of the Foundation are: Richard M. Stallman, President;
and Lisa Goldstein, Treasurer/Secretary.  The Foundation Board of
Directors are: Richard M. Stallman, Gerald J. Sussman, Harold
Abelson, Robert J. Chassell, and Leonard H. Tower Jr.
<P>
<P>Go to the <A HREF="gnu_bulletin_2.html">previous</A>, <A HREF="gnu_bulletin_4.html">next</A> section.<P>
