<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - Free Software for Microcomputers</TITLE>
<P>Go to the <A HREF="gnu_bulletin_24.html">previous</A>, <A HREF="gnu_bulletin_26.html">next</A> section.<P>
<H1><A NAME="SEC39" HREF="gnu_bulletin_toc.html#SEC39">Free Software for Microcomputers</A></H1>
<P>
We do not provide support for GNU software on microcomputers because it
is peripheral to the GNU Project.  However, we are distributing a few
such programs on tape, CD-ROM, and diskette.  We are also willing to
publish information about groups who do support and maintain them.  If
you are aware of any such efforts, please send the details, including
postal addresses, archive sites, and mailing lists, to either address on
the front cover.
<P>
See "MS-DOS Distribution" for more information about microcomputer
software available from the FSF.  Please do not ask us about any other
software.  The FSF does <I>not</I> maintain any of it and has <I>no</I>
additional information.
<P>
<UL>
<P>
<LI>
<B>GNU Software</B> <EM>not</EM> <B>on Apple computers</B>
<P>
In lawsuits, Apple claims the power to stop people from writing any
program that has a user interface that works even vaguely like the
Macintosh's.  If Apple wins in the courts, it will create for itself a
new power over the public that will enable it to put an end to free
software.  So long as Apple is committed to establishing this kind of
monopoly, we will not provide any support or software for Apple
machines.  We ask that you too refrain from developing for or porting to
Apple Systems, since any more software adds to their business.  Don't
feed the lawyer that bites you!
<P>
<LI>
<B>Boston Computer Society</B>
<P>
The BCS has thousands of shareware and free programs for microcomputers,
including some GNU programs.  Contact them to see what is available for
your machine: Boston Computer Society, 1 Kendall Square -- Bldg 1400,
Cambridge, MA  02139   USA.    Phone: (617) 252-0600.
<P>
<LI>
<B>GNU Software on the Amiga</B>
<P>
Get Amiga ports of many GNU programs using anonymous FTP from host
<CODE>ftp.funet.fi</CODE> in <TT>`/pub/amiga/gnu'</TT> (Europe).
<P>
For info on (or offers to help with) the GCC port and related projects,
ask Leonard Norrgard, <CODE>vinsci@nic.funet.fi</CODE>.  For info on the
GNU Emacs port, ask David Gay, <CODE>dgay@di.epfl.ch</CODE>, or Mark D.
Henning, <CODE>henning@stolaf.edu</CODE>.  You can get more info via
anonymous FTP in <TT>`prep.ai.mit.edu:/pub/gnu/MicrosPorts/Amiga'</TT>.
<P>
<LI>
<B>GNU Software for Atari TOS and Atari Minix</B>
<P>
Get Atari ports by anonymous FTP from <CODE>atari.archive.umich.edu</CODE>
(maintained by Howard Chu, <CODE>hyc@hanauma.jpl.nasa.gov</CODE>).  Ports
are discussed on USENET in <CODE>comp.sys.atari.st.tech</CODE> &#38;
<CODE>comp.sys.atari.st</CODE>.
<P>
<LI>
<B>GNU C/C<TT>++</TT> 2.2.2 for OS/2 2.0</B>
<P>
Michael Johnson has completed a new, completely stand-alone port of the
GNU C/C<TT>++</TT> Version 2.2.2 compiler for OS/2 2.0.  It has the C/C<TT>++</TT>
compilers, the GNU assembler, documentation, &#38; both OS/2-specific
and the BSD C libraries.  You can get it from host
<CODE>hobbes.nmsu.edu</CODE> in file
<TT>`/pub/os2/2.0/programming/gcc2-222'</TT> by FTP.  To join the
mailing list, send a message to <CODE>os2gcc-request@charon.mit.edu</CODE>.
<P>
<LI>
<B>Linux: a free Unix system for 386 machines</B>
<P>
Linux (named after its author, Linus Torvalds, and Minix) is a free Unix
clone which implements a subset of System V and POSIX functionality.
Linux has been written from scratch and does not contain any proprietary
code. Many of the utilities and libraries are GNU Project software.
Linux runs only on 386/486 AT-bus (and some EISA-bus) machines.  Porting
to non-Intel architectures is hard because the kernel makes extensive
use of 386 memory management and task primitives.  Linux is freely
distributable and available via anonymous FTP:
<CODE>tsx-11.mit.edu</CODE> in <TT>`/pub/linux'</TT> (USA),
<CODE>nic.funet.fi</CODE> in <TT>`/pub/OS/Linux'</TT> (Europe).
Ask <CODE>linux-activists-request@niksula.hut.fi</CODE> about their
mailing lists.
See USENET newsgroup <CODE>comp.os.linux</CODE> for Linux discussions.
<P>
<LI>
<B>Free 386BSD</B>
<P>
William F. Jolitz et al. have written a 386 port of BSD Unix.  This
kernel is said to be free of AT&#38;T code and is freely redistributable.
You can obtain more information from
<CODE>sokol@reyes.stanford.edu</CODE>.  This is the result of the work
described in the Dr. Dobb's Journal series on 386BSD.
<P>
<LI>
<B>Free NetBSD</B>
<P>
Chris Demetriou and friends have released another flavour of Unix for
386 machines.  NetBSD is based on 386BSD 0.1, but also contains code
from the Berkeley Networking 2 distribution, some original code from the
NetBSD team, and many bug fixes.  Anonymous FTP the NetBSD 0.8
distribution from <CODE>agate.berkeley.edu</CODE> in
<TT>`/pub/NetBSD/NetBSD-0.8'</TT>.  For more info, contact
<CODE>netbsd-help@sun-lamp.cs.berkeley.edu</CODE>.
<P>
<LI>
<B>DJGPP, the GNU C/C<TT>++</TT> compiler for MS-DOS</B>
<P>
D. J. Delorie has ported GCC/G<TT>++</TT> 2.2.2 to the 386 MS-DOS platform.
The compiler and programs it generates run in 32-bit mode with full
virtual memory support.  DJGPP is available via FTP from
<CODE>ftp.clarkson.edu</CODE> in <TT>`/pub/msdos/djgpp'</TT>.  You can
subscribe to a mailing list on DJGPP by sending your e-mail address to
<CODE>djgpp-request@sun.soe.clarkson.edu</CODE>.
<P>
The FSF is distributing DJGPP
both
on floppies
and the CD-ROM
(see "MS-DOS Distribution"
and "GNU Source Code CD-ROM").
<P>
<LI>
<B>Demacs, GNU Emacs for MS-DOS</B>
<P>
Manabu Higashida and Hirano Satoshi have released Demacs, a GNU Emacs
port for 386/486 MS-DOS.  Version 1.2.0 is the first post-beta release.
Demacs provides several DOS-specific features: support for binary or
text file translation, "8 bit clean" display mode, 80x86 software
interrupt calls via an <CODE>int86</CODE> Lisp function, machine-specific
features such as function key support, file name completion with drive
name, child processes (<CODE>suspend-emacs</CODE> and <CODE>call-process</CODE>).
Dired mode works without <TT>`ls.exe'</TT>.  Anonymous FTP it from:
<CODE>wuarchive.wustl.edu</CODE> in <TT>`/mirrors/msdos/demacs'</TT>,
<CODE>utsun.s.u-tokyo.ac.jp</CODE> in <TT>`/GNU/demacs'</TT> (Japan),
and <CODE>ftp.funet.fi</CODE> in <TT>`/pub/gnu/emacs/demacs'</TT>
(Europe).
<P>
The FSF is distributing Demacs
both
on floppies
and the CD-ROM
(see "MS-DOS Distribution"
and "GNU Source Code CD-ROM").
<P>
<LI>
<B>Freemacs, an Extensible Editor for MS-DOS</B>
<P>
Russ Nelson, <CODE>nelson@crynwr.com</CODE>, has written a small
programmable editor called Freemacs.  It is compatible enough with GNU
Emacs that Freemacs users can use the <CITE>GNU Emacs Manual</CITE> as a
reference for it.  It will run on most MS-DOS systems, including 8088
machines.
<P>
Anonymous FTP it from <TT>`emacs16a.zip'</TT> (under
<TT>`PD1:&#60;MSDOS.FREEMACS&#62;'</TT>) from <CODE>wsmr-simtel20.army.mil</CODE>;
or send $15 (copying fee) to Russ Nelson, 11 Grant St., Potsdam, NY  
13676   USA.   Phone: (315) 268-1925 (Fax: 9201).  Specify floppy
format: <CODE>5.25"/360K</CODE>; or <CODE>3.50"/720K</CODE>.
<P>
<LI>
<B>GNU Software on MS-DOS</B>
<P>
Russ Nelson has MS-DOS ports of many GNU programs available on floppy
disk.  Contact him at the above address for more information.
<P>
You can ask <CODE>info-gnu-msdos-request@sun.soe.clarkson.edu</CODE>
about MS-DOS ports of GNU programs and related mailing lists.  Or
anonymous FTP files <TT>`/pub/gnu/MicrosPorts/MSDOS*'</TT>, on
<CODE>prep.ai.mit.edu</CODE>.
<P>
The FSF is distributing MS-DOS ports of many GNU programs on floppies
(see "MS-DOS Distribution" and "GNU Source Code on CD-ROM").
<P>
</UL>
<P>
<P>Go to the <A HREF="gnu_bulletin_24.html">previous</A>, <A HREF="gnu_bulletin_26.html">next</A> section.<P>
