<!-- This HTML file has been created by texi2html 1.28
     from gnu_bulletin.texi on 5 January 1995 -->

<TITLE>Untitled Document - Informal "GCC Consortium"</TITLE>
<P>Go to the <A HREF="gnu_bulletin_7.html">previous</A>, <A HREF="gnu_bulletin_9.html">next</A> section.<P>
<H1><A NAME="SEC10" HREF="gnu_bulletin_toc.html#SEC10">Informal "GCC Consortium"</A></H1>
<P>
A group of companies including Intel, Motorola, Texas Instruments, &#38;
Analog Devices have pooled funds to support central maintenance of
GNU CC.  The maintenance will be coordinated by Richard Kenner
of New York University.
<P>
The task of central maintenance is to take responsibility for fixing
bugs, integrating and cleaning up contributions, making releases, and
writing high priority improvements.
<P>
Richard Stallman hopes this will enable him to undertake a new
project.
<P>
<P>Go to the <A HREF="gnu_bulletin_7.html">previous</A>, <A HREF="gnu_bulletin_9.html">next</A> section.<P>
